# Dataset Connections - Group 4

This notebook details the cleaning and merging processes performed, as well as the initial exploratory data analysis of the datasets to be used in our project relating to **Flood and Landslide Disaster Risk in the Philippines**.

As mentioned in the **Dataset Description** section, the datasets are divided into four source categories:
1. Philippine Pre-disaster Indicators
1. ICA Philippines: Flood Risk
1. ICA Philippines: Landslide Risk
1. ICA Philippines: Tropical Storm (above Category 3) Occurrence

In [ ]:
import pandas as pd
import numpy as np

## Philippine Pre-disaster Indicators

This consists of 13 datasets in .xlsx format gathered from [data.world](https://data.world/ochaphilippines/f26a0a04-0549-4139-af91-81dfa6e56082) and the [Philippine Statistics Authority (PSA)](https://psa.gov.ph/content/age-and-sex-distribution-philippine-population-2020-census-population-and-housing), with which display the following information:

1. Philippine Standard Geographic Code (PSGC)
1. Construction Materials of Outer Walls and Roof by City and Municipality
1. Health Personnel by City and Municipality
1. Kind of Toilet Facility by City and Municipality
1. No. of Barangay by City and Municipality
1. No. of Evacuation Center by City and Municipality
1. No. of Household by City and Municipality
1. Philippine Population (as of 2020)
1. Source of Water for Drinking by City and Municipality
1. Vulnerable Groups by City and Municipality
1. Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group
1. DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality
1. Health Facility Type by Municipality

An initial preview of the datasets are displayed as they are loaded into dataframes.

In [ ]:
# mounting dataset drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### Philippine Standard Geographic Code (PSGC)

In [ ]:
df_psgc = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/psgc-code-as-march-2018.xlsx')
df_psgc

,Region,Region Code,Province,Province Code,City/Mun,City/Mun Code,Bgy,Bgy Code
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,Adams (Pob.),PH012801001
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,Bani,PH012802001
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,Buyon,PH012802002
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,Cabaruan,PH012802003
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,Cabulalaan,PH012802004
...,...,...,...,...,...,...,...,...
42039,Region XIII (Caraga),PH160000000,Dinagat Islands,PH168500000,Tubajon,PH168507000,Diaz (Romualdez),PH168507005
42040,Region XIII (Caraga),PH160000000,Dinagat Islands,PH168500000,Tubajon,PH168507000,Roxas,PH168507006
42041,Region XIII (Caraga),PH160000000,Dinagat Islands,PH168500000,Tubajon,PH168507000,San Roque (Pob.),PH168507007
42042,Region XIII (Caraga),PH160000000,Dinagat Islands,PH168500000,Tubajon,PH168507000,San Vicente (Pob.),PH168507008
42043,Region XIII (Caraga),PH160000000,Dinagat Islands,PH168500000,Tubajon,PH168507000,Santa Cruz (Pob.),PH168507009

#### Construction Materials of Outer Walls and Roof by City and Municipality

The original excel file for this information contains two separate excel sheets, where the first contains data on wall and roof materials, while the second contains data on construction material strength categories. These are loaded into dataframes `df_wall_roof_materials` and `df_wall_roof_categories` respectively.

In [ ]:
df_wall_roof_materials = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/construction-materials-of-the-outer-walls-and-roof-by-city-municipality.xlsx',
                          sheet_name=0, skiprows=1)
df_wall_roof_materials

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Construction Materials of the Outer Walls,Total Occupied Housing Units,Galvanized iron/aluminum,Tile/concrete/clay tile,Half galvanized iron and half concrete,Bamboo/cogon/nipa/anahaw,Asbestos,Makeshift/ salvaged/ improvised materials,Trapal,Others,Not Reported
0,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,Makeshift/salvaged/improvised materials,0,0,0,0,0,0,0,0,0,0
1,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,Trapal,0,0,0,0,0,0,0,0,0,0
2,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,Others,0,0,0,0,0,0,0,0,0,0
3,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,No walls,0,0,0,0,0,0,0,0,0,0
4,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,Asbestos,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21224,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,Bamboo/sawali/cogon/nipa,271,55,0,0,216,0,0,0,0,0
21225,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,Half concrete/brick/stone and half wood,381,313,0,3,65,0,0,0,0,0
21226,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,Concrete/brick/stone,1039,979,6,2,51,0,1,0,0,0
21227,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,Wood,6105,1934,0,0,4169,0,0,2,0,0
21228,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,Total,7852,3304,6,5,4534,0,1,2,0,0

In [ ]:
df_wall_roof_categories = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/construction-materials-of-the-outer-walls-and-roof-by-city-municipality.xlsx',
                          sheet_name=1)
df_wall_roof_categories

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Housing Units,Strong Roof/Strong Wall,Strong Roof/Light Wall,Strong Roof/Salvage Wall,Light Roof/Strong Wall,Light Roof/Light Wall,Light Roof/Salvage Wall,Salvaged Roof/Strong Wall,Salvaged Roof/Light Wall,Salvaged Roof/Salvage Wall
0,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,2560,441,1230,0,127,757,0,0,0,0
1,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Al-Barka,PH150709000,3647,503,1853,1,24,1253,2,0,3,0
2,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,City of Lamitan (Capital),PH150702000,14751,4972,6284,24,103,3244,10,6,33,23
3,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Mohammad Ajul,PH150710000,2747,510,1218,7,10,991,5,0,1,1
4,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Muhtamad,PH150712000,3921,347,1309,5,30,2215,3,0,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Marihatag,PH166814000,3668,1054,1005,0,62,1545,0,0,0,1
1629,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Agustin,PH166815000,4548,1328,1308,1,62,1840,4,1,1,3
1630,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Miguel,PH166816000,7918,952,3753,0,8,3205,0,0,0,0
1631,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tagbina,PH166817000,8318,2082,3349,6,44,2790,3,0,6,1
1632,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,7852,1325,1990,0,142,4394,0,1,0,0

#### Health Personnel by City and Municipality

In [ ]:
df_health_personnel = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/health-personnel-by-city-municipality.xlsx')
df_health_personnel

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,DOCTOR,NURSE,MIDWIFE,DENTIST,NUTRITIONIST/DIETICIAN,PHARMACIST,OCCUPATIONAL THERAPIST,MEDICAL TECHNOLOGIST,PHYSICAL THERAPIST,RADIOLOGY TECHNOLOGIST,X-RAY TECHNOLOGIST
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,1,4,3,0,0,0,0,0,0,0,0
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,8,23,16,6,0,8,0,2,0,0,1
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,1,6,8,1,0,8,0,1,0,0,0
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,10,20,11,4,1,5,0,4,1,0,0
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,City of Batac,PH012805000,109,233,33,3,5,43,0,28,8,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,City of Tanjay,PH074621000,2,15,32,0,0,1,0,5,0,0,0
1643,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Tayasan,PH074622000,1,1,3,0,0,0,0,0,0,0,0
1644,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Valencia (Luzurriaga),PH074623000,1,2,10,1,0,0,0,1,0,0,0
1645,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Vallehermoso,PH074624000,0,0,0,0,0,0,0,0,0,0,0
1646,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Zamboanguita,PH074625000,1,4,7,0,0,0,0,1,0,0,0

#### Kind of Toilet Facility by City and Municipality

In [ ]:
df_toilet_facility = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/kind-of-toilet-facility-by-city-municipality.xlsx')
df_toilet_facility

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Water Sealed,Closed pit,Open Pit,none
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,290,88,0,2
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,7461,69,9,36
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,6755,83,15,69
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,3528,10,11,5
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,City of Batac,PH012805000,11801,398,70,39
...,...,...,...,...,...,...,...,...,...,...
1642,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,City of Tanjay,PH074621000,13630,705,551,2786
1643,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Tayasan,PH074622000,4020,1231,893,2017
1644,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Valencia (Luzurriaga),PH074623000,6172,271,55,298
1645,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Vallehermoso,PH074624000,2305,287,542,4480
1646,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Zamboanguita,PH074625000,3620,454,350,1080

#### No. of Barangay by City and Municipality

In [ ]:
df_no_of_brgy = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/no-of-barangay-by-city-municipality.xlsx')
df_no_of_brgy

,Region,Region Code,Province,Province Code,City/Mun,City/Mun Code,Number of Barangay
0,Autonomous Region In Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,9
1,Autonomous Region In Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Al-Barka,PH150709000,16
2,Autonomous Region In Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,City of Lamitan (Capital),PH150702000,45
3,Autonomous Region In Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Mohammad Ajul,PH150710000,11
4,Autonomous Region In Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Muhtamad,PH150712000,10
...,...,...,...,...,...,...,...
1642,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Marihatag,PH166814000,12
1643,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Agustin,PH166815000,13
1644,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Miguel,PH166816000,18
1645,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tagbina,PH166817000,25
1646,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,24

#### No. of Evacuation Center by City and Municipality

In [ ]:
df_no_of_evac_center = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/no-of-evacuation-center-by-city-municipality.xlsx')
df_no_of_evac_center

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Number of Evacuation Center
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,3
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,3
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,1
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,0
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,City of Batac,PH012805000,78
...,...,...,...,...,...,...,...
1642,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,City of Tanjay,PH074621000,3
1643,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Tayasan,PH074622000,10
1644,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Valencia (Luzurriaga),PH074623000,28
1645,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Vallehermoso,PH074624000,20
1646,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Zamboanguita,PH074625000,7

#### No. of Household by City and Municipality

In [ ]:
df_no_of_household = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/no-of-household-by-city-municipality.xlsx')
df_no_of_household

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Number of Household
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,411
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,8269
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,7375
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,3568
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,City of Batac,PH012805000,12797
...,...,...,...,...,...,...,...
1642,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,City of Tanjay,PH074621000,19043
1643,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Tayasan,PH074622000,8623
1644,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Valencia (Luzurriaga),PH074623000,7990
1645,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Vallehermoso,PH074624000,8571
1646,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Zamboanguita,PH074625000,6607

#### Philippine Population (as of 2020)

The original excel file for the Philippine population has a title placed in its first row, while the essential data headers are placed on the fourth row, so the first three rows are skipped upon loading the dataframe.

In [ ]:
df_ph_population = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/Total and Household Population by Single-Year Age, Sex, and Region_2020 CPH.xlsx',
                                 skiprows=4) #skipping the first four rows
df_ph_population

,Unnamed: 0,Both Sexes,Male,Female,Both Sexes.1,Male.1,Female.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN
3,Total,109033245.0,55306793.0,53726452.0,108667043.0,55017643.0,53649400.0
4,Under 1,2136032.0,1109532.0,1026500.0,2135411.0,1109050.0,1026361.0
...,...,...,...,...,...,...,...
1515,Note: 1 Per PSA Board Resolution No. 13 Serie...,NaN,NaN,NaN,NaN,NaN,NaN
1516,Philippine Standard Geographic Code Updates ...,NaN,NaN,NaN,NaN,NaN,NaN
1517,in Muslim Mindanao (BARMM) and Correct the...,NaN,NaN,NaN,NaN,NaN,NaN
1518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,"Source: Philippine Statistics Authority, 2020 ...",NaN,NaN,NaN,NaN,NaN,NaN

#### Source of Water for Drinking by City and Municipality

The original excel file for this information also contains two separate excel sheets, where the first contains data on water sources, while the second contains data on water source categories. These are loaded into dataframes `df_source_of_water` and `df_source_of_water_categories` respectively.

In [ ]:
df_source_of_water = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/source-of-water-supply-for-drinking-by-city-municipality.xlsx')
df_source_of_water

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Number of Households*,Own use faucet community water system,Shared faucet community water system,Own use tubed/piped deep well,Shared tubed/piped deep well,Tubed/piped shallow well,Dug well,Protected spring,Unprotected spring,"Lake, river, rain and others",Peddler,Bottled water,Others,Not Reported
0,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,2820,27,10,14,399,4,2351,2,0,10,2,1,0,0
1,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Al-Barka,PH150709000,3662,266,527,102,635,47,1064,114,244,644,3,8,8,0
2,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,City of Lamitan (Capital),PH150702000,15065,3636,3302,549,2927,565,2722,557,40,81,122,535,29,0
3,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Mohammad Ajul,PH150710000,2948,21,16,126,308,12,2440,1,3,2,7,12,0,0
4,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Muhtamad,PH150712000,3956,72,41,3,18,23,1696,1,1,4,2081,16,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Marihatag,PH166814000,3699,28,2295,147,453,134,0,116,44,19,0,463,0,0
1629,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Agustin,PH166815000,4584,57,584,113,2248,0,68,143,452,76,1,842,0,0
1630,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Miguel,PH166816000,7980,1665,2219,220,1374,42,243,758,381,2,14,1062,0,0
1631,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tagbina,PH166817000,8368,2474,2484,89,920,69,248,500,40,665,50,829,0,0
1632,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,7898,676,1464,825,1893,472,142,882,75,10,24,1435,0,0

In [ ]:
df_source_of_water_categories = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/source-of-water-supply-for-drinking-by-city-municipality.xlsx',
                                   sheet_name=1)
df_source_of_water_categories

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Number of Households,Faucet/Community System,Tubed/Piped,Dug well,Bottled Water,Natural Sources,Peddler/Others/Not Reported
0,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Akbar,PH150708000,2820,37,417,2351,1,12,2
1,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Al-Barka,PH150709000,3662,793,784,1064,8,1002,11
2,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,City of Lamitan (Capital),PH150702000,15065,6938,4041,2722,535,678,151
3,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Mohammad Ajul,PH150710000,2948,37,446,2440,12,6,7
4,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Basilan,PH150700000,Hadji Muhtamad,PH150712000,3956,113,44,1696,16,6,2081
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Marihatag,PH166814000,3699,2323,734,0,463,179,0
1629,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Agustin,PH166815000,4584,641,2361,68,842,671,1
1630,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,San Miguel,PH166816000,7980,3884,1636,243,1062,1141,14
1631,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tagbina,PH166817000,8368,4958,1078,248,829,1205,50
1632,Region XIII (Caraga),PH160000000,Surigao Del Sur,PH166800000,Tago,PH166818000,7898,2140,3190,142,1435,967,24

#### Vulnerable Groups by City and Municipality

In [ ]:
df_vulnerable_groups = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/vulnerable-groups-by-city-municipality.xlsx')
df_vulnerable_groups

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Child Headed_Male,Child Headed_Female,Single Headed_Male,Single Headed_Female,Disability_Male,Disability_Female,Solo Parent_Male,Solo Parent_Female,Older_Male,Older_Female
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,0,0,3,0,1,1,3,10,12,14
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,0,0,4,0,16,8,20,28,49,48
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,0,0,9,7,50,38,26,71,102,158
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,0,0,6,2,23,28,9,26,33,37
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,City of Batac,PH012805000,0,0,6,8,30,31,21,55,78,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,City of Tanjay,PH074621000,5,3,137,81,171,149,139,455,596,653
1643,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Tayasan,PH074622000,13,1,261,89,148,144,160,468,468,503
1644,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Valencia (Luzurriaga),PH074623000,2,0,65,48,65,71,55,207,184,259
1645,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Vallehermoso,PH074624000,10,3,273,66,207,182,386,617,526,623
1646,Region VII (Central Visayas),PH070000000,Negros Oriental,PH074600000,Zamboanguita,PH074625000,8,0,29,37,38,48,115,324,258,331

#### Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group

In [ ]:
df_pantawid_pamilya = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/pantawid-pamilya-beneficiary-households-and-household-members-by-sex-and-age-group.xlsx')
df_pantawid_pamilya

,Region,PCODE_REG,Province,PCODE_PROV,City_Municipality,PCODE_MUN_CTY,Total # of Active HHs,HH MEM_M_0 to 4,HH MEM_M_5 to 9,HH MEM_M_10 to 14,...,HH MEM_F_40 to 44,HH MEM_F_45 to 49,HH MEM_F_50 to 54,HH MEM_F_55 to 59,HH MEM_F_60 to 64,HH MEM_F_65 to 69,HH MEM_F_70 to 74,HH MEM_F_75 to 79,HH MEM_F_80 and above,Total HH MEM_F
0,National Capital Region (NCR),PH130000000,"NCR, City of Manila, First District (Not a Pro...",PH133900000,BINONDO,PH133902000,101,16,26,55,...,15,11,5,6,1,1,2,0,0,271
1,National Capital Region (NCR),PH130000000,"NCR, City of Manila, First District (Not a Pro...",PH133900000,ERMITA,PH133908000,201,23,71,76,...,39,25,13,5,9,2,3,0,1,452
2,National Capital Region (NCR),PH130000000,"NCR, City of Manila, First District (Not a Pro...",PH133900000,INTRAMUROS,PH133909000,252,9,56,112,...,37,41,27,18,9,10,1,1,1,661
3,National Capital Region (NCR),PH130000000,"NCR, City of Manila, First District (Not a Pro...",PH133900000,MALATE,PH133910000,989,33,310,534,...,202,154,123,73,40,45,28,16,23,2871
4,National Capital Region (NCR),PH130000000,"NCR, City of Manila, First District (Not a Pro...",PH133900000,PACO,PH133911000,1038,14,253,513,...,200,181,122,83,61,41,31,16,12,2929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,TAWI-TAWI,PH157000000,SIMUNUL,PH157004000,2407,95,755,1144,...,312,361,256,181,106,84,40,40,32,6158
1636,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,TAWI-TAWI,PH157000000,SITANGKAI,PH157005000,2512,84,578,1298,...,322,400,240,172,87,57,26,26,26,6914
1637,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,TAWI-TAWI,PH157000000,SOUTH UBIAN,PH157006000,2261,99,537,961,...,399,314,190,199,120,102,50,58,49,6171
1638,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,TAWI-TAWI,PH157000000,TANDUBAS,PH157007000,2789,181,738,1324,...,413,362,233,216,98,95,51,25,29,7860
1639,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,TAWI-TAWI,PH157000000,TURTLE ISLANDS,PH157008000,774,32,201,418,...,147,117,60,42,12,24,9,7,4,2151

#### DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality

In [ ]:
df_no_of_schools_and_enrollment = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/deped-number-of-schools-and-enrolment-with-sex-disaggregation-by-municipality.xlsx')
df_no_of_schools_and_enrollment

,Region,Region code,Province,Province code,City_Municipality,City_Mun Code,Elementary_school,Secondary_school,Enrollment_Elementary_Male,Enrollment_Elementary_Female,Enrollment_Secondary_Male,Enrollment_Secondary_Female
0,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Adams,PH012801000,2,1,154,129,85,71
1,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bacarra,PH012802000,24,2,1971,1842,1309,1272
2,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Badoc,PH012803000,21,3,2133,1814,420,326
3,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Bangui,PH012804000,13,3,985,976,672,635
4,Region I (Ilocos Region),PH010000000,Ilocos Norte,PH012800000,Banna (Espiritu),PH012811000,17,4,1375,1228,517,473
...,...,...,...,...,...,...,...,...,...,...,...,...
1643,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Tawi-Tawi,PH157000000,Sitangkai,PH157005000,13,4,2423,2442,643,661
1644,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Tawi-Tawi,PH157000000,South Ubian,PH157006000,12,1,1482,1485,110,109
1645,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Tawi-Tawi,PH157000000,Tandubas,PH157007000,15,2,1918,1961,330,367
1646,Autonomous Region in Muslim Mindanao (ARMM),PH150000000,Tawi-Tawi,PH157000000,Turtle Islands,PH157008000,3,1,411,416,107,122
1647,NaN,NaN,NaN,NaN,NaN,NaN,38913,8554,7446253,6843192,3181294,3230939

#### Health Facility Type by Municipality

While the Philippine Pre-disaster indicator set of datasets has two versions of the health facility type dataset, the more recent version will be used, which has been updated as of January 27, 2021.

In [ ]:
df_health_facility_type = pd.read_excel('/content/drive/Shareddrives/[DATA101] - Data Visualization/project/data/pre-disaster/excel datasets/health-facility-type-my-municipality-2021.xlsx',
                                        sheet_name=2)
df_health_facility_type

,Region Name,Region PSGC,Province Name,Province PSGC,City/Municipality Name,City/Municipality PSGC,Ownership Major Classification,Ambulatory Surgical Clinic,Animal Bite Treatment Center,Barangay Health Station,...,Drug Testing Laboratory,General Clinic Laboratory,Hospital,Infirmary,Municipal Health Office,Provincial Health Office,Psychiatric Care Facility,Rural Health Unit,Social hygiene Clinic,Total
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,AKBAR,PH150708000,Government,0,0,9,...,0,0,0,0,0,0,0,1,0,11
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,AL-BARKA,PH150709000,Government,0,0,4,...,0,0,0,0,0,0,0,1,0,5
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Government,0,0,15,...,0,0,1,0,0,0,0,3,0,23
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Private,0,0,0,...,0,0,1,0,0,0,0,0,0,2
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,HADJI MOHAMMAD AJUL,PH150710000,Government,0,0,5,...,0,0,0,0,0,0,0,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,MARIHATAG,PH166814000,Government,0,0,11,...,0,0,0,1,0,0,0,1,0,13
2315,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,SAN AGUSTIN,PH166815000,Government,0,0,10,...,0,0,0,0,0,0,0,1,0,12
2316,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,SAN MIGUEL,PH166816000,Government,0,0,14,...,0,0,0,1,0,0,0,1,0,17
2317,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,TAGBINA,PH166817000,Government,0,0,24,...,0,0,0,0,0,0,0,1,0,26
2318,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,TAGO,PH166818000,Government,0,0,12,...,0,0,0,0,0,0,0,1,0,14

### Data Cleaning and Aggregating by Region and Province

Since we plan to link the pre-disaster indicator datasets to our flood and landslide risk datasets and map these out by **region and province**, data cleaning and aggregation is needed to transform the data that are displayed by city and municipality. Such datasets that need cleaning and aggregating are the following:

1. Construction Materials of Outer Walls and Roof by City and Municipality (by category)
1. Health Personnel by City and Municipality
1. Kind of Toilet Facility by City and Municipality
1. No. of Barangay by City and Municipality
1. No. of Evacuation Center by City and Municipality
1. No. of Household by City and Municipality
1. Source of Water for Drinking by City and Municipality
1. Vulnerable Groups by City and Municipality
1. Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group
1. DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality
1. Health Facility Type by Municipality

With the exception of the `Health Facility Type by Municipality` and `DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality` datasets, the other datasets can have their data grouped by `Region`, `Region Code`, and `Province` using the `groupby()` and `agg()` functions of pandas, then the `lambda` function of Python to get the sum of numeric columns.

For consistency, data for `Region` and `Province` will be converted to uppercase and sorted alphabetically when applicable.

#### 1. Construction Materials of Outer Walls and Roof by City and Municipality (by category)

In [ ]:
# changing data to uppercase
df_wall_roof_categories['Region'] = df_wall_roof_categories['Region'].str.upper()
df_wall_roof_categories['Province'] = df_wall_roof_categories['Province'].str.upper()

df_wall_roof_categories = df_wall_roof_categories.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

df_wall_roof_categories

<ipython-input-18-ae81ac68de82>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_wall_roof_categories = df_wall_roof_categories.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

                                                                           Housing Units  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                    57704
                                                        LANAO DEL SUR             121372
                                                        MAGUINDANAO               190029
                                                        SULU                      135083
                                                        TAWI-TAWI                  57638
...                                                                                  ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE          151197
                                                        AGUSAN DEL SUR            151934
                                                        DINAGAT ISLANDS            27902
                                                        SURIGAO DEL NORTE         106660
                                                        SURIGAO DEL SUR           127802

                                                                           Strong Roof/Strong Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                              10991
                                                        LANAO DEL SUR                        48766
                                                        MAGUINDANAO                          52730
                                                        SULU                                 14958
                                                        TAWI-TAWI                             6929
...                                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                     57472
                                                        AGUSAN DEL SUR                       35664
                                                        DINAGAT ISLANDS                      11620
                                                        SURIGAO DEL NORTE                    54034
                                                        SURIGAO DEL SUR                      33108

                                                                           Strong Roof/Light Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                             24572
                                                        LANAO DEL SUR                       66336
                                                        MAGUINDANAO                         65505
                                                        SULU                                60749
                                                        TAWI-TAWI                           37403
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                    52851
                                                        AGUSAN DEL SUR                      67337
                                                        DINAGAT ISLANDS                     10567
                                                        SURIGAO DEL NORTE                   24315
                                                        SURIGAO DEL SUR                     41769

                                                                           Strong Roof/Salvage Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                  58
                                                        LANAO DEL SUR                            75
                                                        MAGUINDANAO                             256
                                                        SULU                                     16
                                                        TAWI-TAWI                                21
...                                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                        216
                                                        AGUSAN DEL SUR                          311
                                                        DINAGAT ISLANDS                          77
                                                        SURIGAO DEL NORTE                       182
                                                        SURIGAO DEL SUR                          67

                                                                           Light Roof/Strong Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                               530
                                                        LANAO DEL SUR                         266
                                                        MAGUINDANAO                          3465
                                                        SULU                                  875
                                                        TAWI-TAWI                             170
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                     2104
                                                        AGUSAN DEL SUR                        694
                                                        DINAGAT ISLANDS                       235
                                                        SURIGAO DEL NORTE                    2537
                                                        SURIGAO DEL SUR                      2581

                                                                           Light Roof/Light Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                            21274
                                                        LANAO DEL SUR                       4676
                                                        MAGUINDANAO                        65200
                                                        SULU                               56878
                                                        TAWI-TAWI                          12771
...                                                                                          ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                   37189
                                                        AGUSAN DEL SUR                     46165
                                                        DINAGAT ISLANDS                     5076
                                                        SURIGAO DEL NORTE                  24816
                                                        SURIGAO DEL SUR                    49821

                                                                           Light Roof/Salvage Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 45
                                                        LANAO DEL SUR                           30
                                                        MAGUINDANAO                            567
                                                        SULU                                    51
                                                        TAWI-TAWI                               47
...                                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                       248
                                                        AGUSAN DEL SUR                         262
                                                        DINAGAT ISLANDS                        107
                                                        SURIGAO DEL NORTE                      239
                                                        SURIGAO DEL SUR                        139

                                                                           Salvaged Roof/Strong Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                    7
                                                        LANAO DEL SUR                             17
                                                        MAGUINDANAO                               45
                                                        SULU                                      28
                                                        TAWI-TAWI                                  4
...                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                          74
                                                        AGUSAN DEL SUR                            15
                                                        DINAGAT ISLANDS                            8
                                                        SURIGAO DEL NORTE                         35
                                                        SURIGAO DEL SUR                           13

                                                                           Salvaged Roof/Light Wall  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                  54
                                                        LANAO DEL SUR                           120
                                                        MAGUINDANAO                             279
                                                        SULU                                    218
                                                        TAWI-TAWI                                27
...                                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                        351
                                                        AGUSAN DEL SUR                          168
                                                        DINAGAT ISLANDS                          50
                                                        SURIGAO DEL NORTE                       136
                                                        SURIGAO DEL SUR                         110

                                                                           Salvaged Roof/Salvage Wall
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                    53
                                                        LANAO DEL SUR                             114
                                                        MAGUINDANAO                               785
                                                        SULU                                       42
                                                        TAWI-TAWI                                  15
...                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                          190
                                                        AGUSAN DEL SUR                             87
                                                        DINAGAT ISLANDS                            73
                                                        SURIGAO DEL NORTE                         100
                                                        SURIGAO DEL SUR                            68

[86 rows x 10 columns]


#### 2. Health Personnel by City and Municipality

In [ ]:
# changing data to uppercase
df_health_personnel['Region'] = df_health_personnel['Region'].str.upper()
df_health_personnel['Province'] = df_health_personnel['Province'].str.upper()

df_health_personnel_by_region_and_province = df_health_personnel.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))
df_health_personnel_by_region_and_province

<ipython-input-19-aaf664fd37ed>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_health_personnel_by_region_and_province = df_health_personnel.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

                                                                           DOCTOR  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                 9
                                                        LANAO DEL SUR         136
                                                        MAGUINDANAO            40
                                                        SULU                   40
                                                        TAWI-TAWI              24
...                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE      158
                                                        AGUSAN DEL SUR         61
                                                        DINAGAT ISLANDS        16
                                                        SURIGAO DEL NORTE      91
                                                        SURIGAO DEL SUR       137

                                                                           NURSE  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN               26
                                                        LANAO DEL SUR        185
                                                        MAGUINDANAO          131
                                                        SULU                  69
                                                        TAWI-TAWI             71
...                                                                          ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE     440
                                                        AGUSAN DEL SUR       196
                                                        DINAGAT ISLANDS       23
                                                        SURIGAO DEL NORTE    216
                                                        SURIGAO DEL SUR      285

                                                                           MIDWIFE  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                  5
                                                        LANAO DEL SUR           98
                                                        MAGUINDANAO             63
                                                        SULU                    45
                                                        TAWI-TAWI               92
...                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE       237
                                                        AGUSAN DEL SUR         165
                                                        DINAGAT ISLANDS         50
                                                        SURIGAO DEL NORTE      149
                                                        SURIGAO DEL SUR        222

                                                                           DENTIST  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                  2
                                                        LANAO DEL SUR            9
                                                        MAGUINDANAO              6
                                                        SULU                     6
                                                        TAWI-TAWI                5
...                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE        20
                                                        AGUSAN DEL SUR          14
                                                        DINAGAT ISLANDS          0
                                                        SURIGAO DEL NORTE       11
                                                        SURIGAO DEL SUR         28

                                                                           NUTRITIONIST/DIETICIAN  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 1
                                                        LANAO DEL SUR                           4
                                                        MAGUINDANAO                             4
                                                        SULU                                    1
                                                        TAWI-TAWI                               4
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                       10
                                                        AGUSAN DEL SUR                          5
                                                        DINAGAT ISLANDS                         1
                                                        SURIGAO DEL NORTE                       7
                                                        SURIGAO DEL SUR                         9

                                                                           PHARMACIST  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                     2
                                                        LANAO DEL SUR              16
                                                        MAGUINDANAO                 7
                                                        SULU                        6
                                                        TAWI-TAWI                   5
...                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE           30
                                                        AGUSAN DEL SUR             14
                                                        DINAGAT ISLANDS             1
                                                        SURIGAO DEL NORTE          18
                                                        SURIGAO DEL SUR            23

                                                                           OCCUPATIONAL THERAPIST  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 0
                                                        LANAO DEL SUR                           0
                                                        MAGUINDANAO                             0
                                                        SULU                                    0
                                                        TAWI-TAWI                               0
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                        0
                                                        AGUSAN DEL SUR                          0
                                                        DINAGAT ISLANDS                         0
                                                        SURIGAO DEL NORTE                       0
                                                        SURIGAO DEL SUR                         0

                                                                           MEDICAL TECHNOLOGIST  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                               3
                                                        LANAO DEL SUR                        20
                                                        MAGUINDANAO                          15
                                                        SULU                                 13
                                                        TAWI-TAWI                            15
...                                                                                         ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                     65
                                                        AGUSAN DEL SUR                       34
                                                        DINAGAT ISLANDS                       4
                                                        SURIGAO DEL NORTE                    32
                                                        SURIGAO DEL SUR                      45

                                                                           PHYSICAL THERAPIST  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                             0
                                                        LANAO DEL SUR                       0
                                                        MAGUINDANAO                         2
                                                        SULU                                0
                                                        TAWI-TAWI                           0
...                                                                                       ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                    5
                                                        AGUSAN DEL SUR                      0
                                                        DINAGAT ISLANDS                     0
                                                        SURIGAO DEL NORTE                   0
                                                        SURIGAO DEL SUR                     0

                                                                           RADIOLOGY TECHNOLOGIST
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 2
                                                        LANAO DEL SUR                           4
                                                        MAGUINDANAO                             3
                                                        SULU                                    1
                                                        TAWI-TAWI                               2
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                       20
                                                        AGUSAN DEL SUR                          9
                                                        DINAGAT ISLANDS                         0
                                                        SURIGAO DEL NORTE                       4
                                                        SURIGAO DEL SUR                        14

[87 rows x 10 columns]

#### 3. Kind of Toilet Facility by City and Municipality

In [ ]:
# changing data to uppercase
df_toilet_facility['Region'] = df_toilet_facility['Region'].str.upper()
df_toilet_facility['Province'] = df_toilet_facility['Province'].str.upper()

df_toilet_facility_by_region_and_province = df_toilet_facility.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))
df_toilet_facility_by_region_and_province

<ipython-input-20-f19c182be73e>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_toilet_facility_by_region_and_province = df_toilet_facility.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

                                                                           Water Sealed  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                   16633
                                                        LANAO DEL SUR             56769
                                                        MAGUINDANAO               54492
                                                        SULU                      28669
                                                        TAWI-TAWI                  9556
...                                                                                 ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE         113955
                                                        AGUSAN DEL SUR           104811
                                                        DINAGAT ISLANDS           22324
                                                        SURIGAO DEL NORTE         79553
                                                        SURIGAO DEL SUR           85295

                                                                           Closed pit  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                 10267
                                                        LANAO DEL SUR           48687
                                                        MAGUINDANAO             48056
                                                        SULU                    32873
                                                        TAWI-TAWI               20000
...                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE         6786
                                                        AGUSAN DEL SUR          14820
                                                        DINAGAT ISLANDS          2006
                                                        SURIGAO DEL NORTE        3770
                                                        SURIGAO DEL SUR         12718

                                                                           Open Pit  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN               12201
                                                        LANAO DEL SUR         29034
                                                        MAGUINDANAO           36851
                                                        SULU                  46104
                                                        TAWI-TAWI             29194
...                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE       1990
                                                        AGUSAN DEL SUR         4728
                                                        DINAGAT ISLANDS         326
                                                        SURIGAO DEL NORTE      2468
                                                        SURIGAO DEL SUR        4458

                                                                            none
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN             8821
                                                        LANAO DEL SUR       4436
                                                        MAGUINDANAO        12531
                                                        SULU                6921
                                                        TAWI-TAWI           1847
...                                                                          ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE    9344
                                                        AGUSAN DEL SUR      8410
                                                        DINAGAT ISLANDS     2588
                                                        SURIGAO DEL NORTE   7694
                                                        SURIGAO DEL SUR    10479

[87 rows x 4 columns]

#### 4. No. of Barangay by City and Municipality

In [ ]:
# changing data to uppercase
df_no_of_brgy['Region'] = df_no_of_brgy['Region'].str.upper()
df_no_of_brgy['Province'] = df_no_of_brgy['Province'].str.upper()

df_no_of_brgy_by_region_and_province = df_no_of_brgy.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_no_of_brgy_by_region_and_province

<ipython-input-21-31db576b6c07>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_no_of_brgy_by_region_and_province = df_no_of_brgy.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Number of Barangay
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                   210
                                                        LANAO DEL SUR     PH153600000                  1159
                                                        MAGUINDANAO       PH153800000                   508
                                                        SULU              PH156600000                   410
                                                        TAWI-TAWI         PH157000000                   203
...                                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                   253
                                                        AGUSAN DEL SUR    PH160300000                   314
                                                        DINAGAT ISLANDS   PH168500000                   100
                                                        SURIGAO DEL NORTE PH166700000                   335
                                                        SURIGAO DEL SUR   PH166800000                   309

[87 rows x 1 columns]

#### 5. No. of Evacuation Center by City and Municipality

In [ ]:
# changing data to uppercase
df_no_of_evac_center['Region'] = df_no_of_evac_center['Region'].str.upper()
df_no_of_evac_center['Province'] = df_no_of_evac_center['Province'].str.upper()

df_no_of_evac_center_by_region_and_province = df_no_of_evac_center.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_no_of_evac_center_by_region_and_province

<ipython-input-22-46aea830b811>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_no_of_evac_center_by_region_and_province = df_no_of_evac_center.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Number of Evacuation Center
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                              0
                                                        LANAO DEL SUR     PH153600000                              0
                                                        MAGUINDANAO       PH153800000                              0
                                                        SULU              PH156600000                              0
                                                        TAWI-TAWI         PH157000000                              0
...                                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                            215
                                                        AGUSAN DEL SUR    PH160300000                            127
                                                        DINAGAT ISLANDS   PH168500000                            234
                                                        SURIGAO DEL NORTE PH166700000                            224
                                                        SURIGAO DEL SUR   PH166800000                            362

[87 rows x 1 columns]

#### 6. No. of Household by City and Municipality

In [ ]:
# changing data to uppercase
df_no_of_household['Region'] = df_no_of_household['Region'].str.upper()
df_no_of_household['Province'] = df_no_of_household['Province'].str.upper()

df_no_of_household_by_region_and_province = df_no_of_household.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_no_of_household_by_region_and_province

<ipython-input-23-5a1aecf19994>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_no_of_household_by_region_and_province = df_no_of_household.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Number of Household
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                  59860
                                                        LANAO DEL SUR     PH153600000                 160132
                                                        MAGUINDANAO       PH153800000                 194507
                                                        SULU              PH156600000                 138357
                                                        TAWI-TAWI         PH157000000                  67529
...                                                                                                      ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 153857
                                                        AGUSAN DEL SUR    PH160300000                 153653
                                                        DINAGAT ISLANDS   PH168500000                  28557
                                                        SURIGAO DEL NORTE PH166700000                 108814
                                                        SURIGAO DEL SUR   PH166800000                 129457

[87 rows x 1 columns]

#### 7.1. Source of Water for Drinking by City and Municipality (by source)

In [ ]:
# changing data to uppercase
df_source_of_water['Region'] = df_source_of_water['Region'].str.upper()
df_source_of_water['Province'] = df_source_of_water['Province'].str.upper()

df_source_of_water_by_region_and_province = df_source_of_water.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_source_of_water_by_region_and_province

<ipython-input-24-dfb926371094>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_source_of_water_by_region_and_province = df_source_of_water.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Number of Households*  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                    59860
                                                        LANAO DEL SUR     PH153600000                   160132
                                                        MAGUINDANAO       PH153800000                   194507
                                                        SULU              PH156600000                   138357
                                                        TAWI-TAWI         PH157000000                    67529
...                                                                                                        ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                   153815
                                                        AGUSAN DEL SUR    PH160300000                   153653
                                                        DINAGAT ISLANDS   PH168500000                    28557
                                                        SURIGAO DEL NORTE PH166700000                   108814
                                                        SURIGAO DEL SUR   PH166800000                   129159

                                                                                         Own use faucet community water system  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                                     9081
                                                        LANAO DEL SUR     PH153600000                                    23392
                                                        MAGUINDANAO       PH153800000                                    14046
                                                        SULU              PH156600000                                    18149
                                                        TAWI-TAWI         PH157000000                                     5113
...                                                                                                                        ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                                    21041
                                                        AGUSAN DEL SUR    PH160300000                                    15195
                                                        DINAGAT ISLANDS   PH168500000                                     9501
                                                        SURIGAO DEL NORTE PH166700000                                    37351
                                                        SURIGAO DEL SUR   PH166800000                                    22042

                                                                                         Shared faucet community water system  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                                   12206
                                                        LANAO DEL SUR     PH153600000                                   24144
                                                        MAGUINDANAO       PH153800000                                   17392
                                                        SULU              PH156600000                                   24143
                                                        TAWI-TAWI         PH157000000                                    5315
...                                                                                                                       ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                                   25342
                                                        AGUSAN DEL SUR    PH160300000                                   29868
                                                        DINAGAT ISLANDS   PH168500000                                   11485
                                                        SURIGAO DEL NORTE PH166700000                                   24745
                                                        SURIGAO DEL SUR   PH166800000                                   28478

                                                                                         Own use tubed/piped deep well  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                             2321
                                                        LANAO DEL SUR     PH153600000                             9430
                                                        MAGUINDANAO       PH153800000                            25735
                                                        SULU              PH156600000                             4386
                                                        TAWI-TAWI         PH157000000                              942
...                                                                                                                ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                             3979
                                                        AGUSAN DEL SUR    PH160300000                             3657
                                                        DINAGAT ISLANDS   PH168500000                              776
                                                        SURIGAO DEL NORTE PH166700000                             1525
                                                        SURIGAO DEL SUR   PH166800000                             5850

                                                                                         Shared tubed/piped deep well  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                           10207
                                                        LANAO DEL SUR     PH153600000                           18445
                                                        MAGUINDANAO       PH153800000                           54427
                                                        SULU              PH156600000                           20779
                                                        TAWI-TAWI         PH157000000                            4784
...                                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                           35403
                                                        AGUSAN DEL SUR    PH160300000                           25754
                                                        DINAGAT ISLANDS   PH168500000                            2217
                                                        SURIGAO DEL NORTE PH166700000                            6422
                                                        SURIGAO DEL SUR   PH166800000                           15819

                                                                                         Tubed/piped shallow well  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                        1059
                                                        LANAO DEL SUR     PH153600000                        5552
                                                        MAGUINDANAO       PH153800000                        7385
                                                        SULU              PH156600000                        2610
                                                        TAWI-TAWI         PH157000000                         892
...                                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                        1317
                                                        AGUSAN DEL SUR    PH160300000                        2040
                                                        DINAGAT ISLANDS   PH168500000                         342
                                                        SURIGAO DEL NORTE PH166700000                         638
                                                        SURIGAO DEL SUR   PH166800000                        3442

                                                                                         Dug well  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000       16782
                                                        LANAO DEL SUR     PH153600000       10342
                                                        MAGUINDANAO       PH153800000       37104
                                                        SULU              PH156600000       37578
                                                        TAWI-TAWI         PH157000000       22147
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000        1500
                                                        AGUSAN DEL SUR    PH160300000        9103
                                                        DINAGAT ISLANDS   PH168500000         671
                                                        SURIGAO DEL NORTE PH166700000        1336
                                                        SURIGAO DEL SUR   PH166800000        1980

                                                                                         Protected spring  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                1578
                                                        LANAO DEL SUR     PH153600000               18292
                                                        MAGUINDANAO       PH153800000               14668
                                                        SULU              PH156600000                2737
                                                        TAWI-TAWI         PH157000000                1486
...                                                                                                   ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                6739
                                                        AGUSAN DEL SUR    PH160300000               16814
                                                        DINAGAT ISLANDS   PH168500000                1654
                                                        SURIGAO DEL NORTE PH166700000                3866
                                                        SURIGAO DEL SUR   PH166800000               10327

                                                                                         Unprotected spring  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                   969
                                                        LANAO DEL SUR     PH153600000                 12009
                                                        MAGUINDANAO       PH153800000                  5467
                                                        SULU              PH156600000                   405
                                                        TAWI-TAWI         PH157000000                    31
...                                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                  1557
                                                        AGUSAN DEL SUR    PH160300000                  7437
                                                        DINAGAT ISLANDS   PH168500000                   204
                                                        SURIGAO DEL NORTE PH166700000                   460
                                                        SURIGAO DEL SUR   PH166800000                  4441

                                                                                         Lake, river, rain and others  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                            1827
                                                        LANAO DEL SUR     PH153600000                           33519
                                                        MAGUINDANAO       PH153800000                            6451
                                                        SULU              PH156600000                           11604
                                                        TAWI-TAWI         PH157000000                           21817
...                                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                             237
                                                        AGUSAN DEL SUR    PH160300000                            9814
                                                        DINAGAT ISLANDS   PH168500000                             451
                                                        SURIGAO DEL NORTE PH166700000                            1864
                                                        SURIGAO DEL SUR   PH166800000                            2771

                                                                                         Peddler  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000       2945
                                                        LANAO DEL SUR     PH153600000       1614
                                                        MAGUINDANAO       PH153800000       6868
                                                        SULU              PH156600000      14302
                                                        TAWI-TAWI         PH157000000       1257
...                                                                                          ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000       9305
                                                        AGUSAN DEL SUR    PH160300000       9474
                                                        DINAGAT ISLANDS   PH168500000        332
                                                        SURIGAO DEL NORTE PH166700000       2101
                                                        SURIGAO DEL SUR   PH166800000       3976

                                                                                         Bottled water  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000              784
                                                        LANAO DEL SUR     PH153600000             3106
                                                        MAGUINDANAO       PH153800000             4098
                                                        SULU              PH156600000             1451
                                                        TAWI-TAWI         PH157000000             2839
...                                                                                                ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000            47339
                                                        AGUSAN DEL SUR    PH160300000            24330
                                                        DINAGAT ISLANDS   PH168500000              880
                                                        SURIGAO DEL NORTE PH166700000            28389
                                                        SURIGAO DEL SUR   PH166800000            30022

                                                                                         Others  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000       101
                                                        LANAO DEL SUR     PH153600000       287
                                                        MAGUINDANAO       PH153800000       866
                                                        SULU              PH156600000       213
                                                        TAWI-TAWI         PH157000000       906
...                                                                                         ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000        56
                                                        AGUSAN DEL SUR    PH160300000       167
                                                        DINAGAT ISLANDS   PH168500000        44
                                                        SURIGAO DEL NORTE PH166700000       117
                                                        SURIGAO DEL SUR   PH166800000        11

                                                                                         Not Reported
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000               0
                                                        LANAO DEL SUR     PH153600000               0
                                                        MAGUINDANAO       PH153800000               0
                                                        SULU              PH156600000               0
                                                        TAWI-TAWI         PH157000000               0
...                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000               0
                                                        AGUSAN DEL SUR    PH160300000               0
                                                        DINAGAT ISLANDS   PH168500000               0
                                                        SURIGAO DEL NORTE PH166700000               0
                                                        SURIGAO DEL SUR   PH166800000               0

[86 rows x 14 columns]

#### 7.2. Source of Water for Drinking by City and Municipality (by categories)

In [ ]:
# changing data to uppercase
df_source_of_water_categories['Region'] = df_source_of_water_categories['Region'].str.upper()
df_source_of_water_categories['Province'] = df_source_of_water_categories['Province'].str.upper()

df_source_of_water_categories_by_region_and_province = df_source_of_water_categories.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_source_of_water_categories_by_region_and_province

<ipython-input-25-5b5156d4c239>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_source_of_water_categories_by_region_and_province = df_source_of_water_categories.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Number of Households  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                   59860
                                                        LANAO DEL SUR     PH153600000                  160132
                                                        MAGUINDANAO       PH153800000                  194507
                                                        SULU              PH156600000                  138357
                                                        TAWI-TAWI         PH157000000                   67529
...                                                                                                       ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                  153815
                                                        AGUSAN DEL SUR    PH160300000                  153653
                                                        DINAGAT ISLANDS   PH168500000                   28557
                                                        SURIGAO DEL NORTE PH166700000                  108814
                                                        SURIGAO DEL SUR   PH166800000                  129159

                                                                                         Faucet/Community System  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                      21287
                                                        LANAO DEL SUR     PH153600000                      47536
                                                        MAGUINDANAO       PH153800000                      31438
                                                        SULU              PH156600000                      42292
                                                        TAWI-TAWI         PH157000000                      10428
...                                                                                                          ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                      46383
                                                        AGUSAN DEL SUR    PH160300000                      45063
                                                        DINAGAT ISLANDS   PH168500000                      20986
                                                        SURIGAO DEL NORTE PH166700000                      62096
                                                        SURIGAO DEL SUR   PH166800000                      50520

                                                                                         Tubed/Piped  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000          13587
                                                        LANAO DEL SUR     PH153600000          33427
                                                        MAGUINDANAO       PH153800000          87547
                                                        SULU              PH156600000          27775
                                                        TAWI-TAWI         PH157000000           6618
...                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000          40699
                                                        AGUSAN DEL SUR    PH160300000          31451
                                                        DINAGAT ISLANDS   PH168500000           3335
                                                        SURIGAO DEL NORTE PH166700000           8585
                                                        SURIGAO DEL SUR   PH166800000          25111

                                                                                         Dug well  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000       16782
                                                        LANAO DEL SUR     PH153600000       10342
                                                        MAGUINDANAO       PH153800000       37104
                                                        SULU              PH156600000       37578
                                                        TAWI-TAWI         PH157000000       22147
...                                                                                           ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000        1500
                                                        AGUSAN DEL SUR    PH160300000        9103
                                                        DINAGAT ISLANDS   PH168500000         671
                                                        SURIGAO DEL NORTE PH166700000        1336
                                                        SURIGAO DEL SUR   PH166800000        1980

                                                                                         Bottled Water  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000              784
                                                        LANAO DEL SUR     PH153600000             3106
                                                        MAGUINDANAO       PH153800000             4098
                                                        SULU              PH156600000             1451
                                                        TAWI-TAWI         PH157000000             2839
...                                                                                                ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000            47339
                                                        AGUSAN DEL SUR    PH160300000            24330
                                                        DINAGAT ISLANDS   PH168500000              880
                                                        SURIGAO DEL NORTE PH166700000            28389
                                                        SURIGAO DEL SUR   PH166800000            30022

                                                                                         Natural Sources  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000               4374
                                                        LANAO DEL SUR     PH153600000              63820
                                                        MAGUINDANAO       PH153800000              26586
                                                        SULU              PH156600000              14746
                                                        TAWI-TAWI         PH157000000              23334
...                                                                                                  ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000               8533
                                                        AGUSAN DEL SUR    PH160300000              34065
                                                        DINAGAT ISLANDS   PH168500000               2309
                                                        SURIGAO DEL NORTE PH166700000               6190
                                                        SURIGAO DEL SUR   PH166800000              17539

                                                                                         Peddler/Others/Not Reported
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                           3046
                                                        LANAO DEL SUR     PH153600000                           1901
                                                        MAGUINDANAO       PH153800000                           7734
                                                        SULU              PH156600000                          14515
                                                        TAWI-TAWI         PH157000000                           2163
...                                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                           9361
                                                        AGUSAN DEL SUR    PH160300000                           9641
                                                        DINAGAT ISLANDS   PH168500000                            376
                                                        SURIGAO DEL NORTE PH166700000                           2218
                                                        SURIGAO DEL SUR   PH166800000                           3987

[86 rows x 7 columns]

#### 8. Vulnerable Groups by City and Municipality

In [ ]:
# changing data to uppercase
df_vulnerable_groups['Region'] = df_vulnerable_groups['Region'].str.upper()
df_vulnerable_groups['Province'] = df_vulnerable_groups['Province'].str.upper()

df_vulnerable_groups_by_region_and_province = df_vulnerable_groups.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))
df_vulnerable_groups_by_region_and_province

<ipython-input-26-1ee67c9fb7a8>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_vulnerable_groups_by_region_and_province = df_vulnerable_groups.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Child Headed_Male  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                  152
                                                        LANAO DEL SUR     PH153600000                  489
                                                        MAGUINDANAO       PH153800000                  567
                                                        SULU              PH156600000                  437
                                                        TAWI-TAWI         PH157000000                   82
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                   59
                                                        AGUSAN DEL SUR    PH160300000                   97
                                                        DINAGAT ISLANDS   PH168500000                    8
                                                        SURIGAO DEL NORTE PH166700000                   47
                                                        SURIGAO DEL SUR   PH166800000                   81

                                                                                         Child Headed_Female  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                     31
                                                        LANAO DEL SUR     PH153600000                    104
                                                        MAGUINDANAO       PH153800000                     65
                                                        SULU              PH156600000                     66
                                                        TAWI-TAWI         PH157000000                     14
...                                                                                                      ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                     18
                                                        AGUSAN DEL SUR    PH160300000                     25
                                                        DINAGAT ISLANDS   PH168500000                      2
                                                        SURIGAO DEL NORTE PH166700000                      5
                                                        SURIGAO DEL SUR   PH166800000                     13

                                                                                         Single Headed_Male  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                   580
                                                        LANAO DEL SUR     PH153600000                  1395
                                                        MAGUINDANAO       PH153800000                  1185
                                                        SULU              PH156600000                  1006
                                                        TAWI-TAWI         PH157000000                   287
...                                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                  1047
                                                        AGUSAN DEL SUR    PH160300000                  1060
                                                        DINAGAT ISLANDS   PH168500000                   170
                                                        SURIGAO DEL NORTE PH166700000                   936
                                                        SURIGAO DEL SUR   PH166800000                  2220

                                                                                         Single Headed_Female  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                     118
                                                        LANAO DEL SUR     PH153600000                     623
                                                        MAGUINDANAO       PH153800000                     446
                                                        SULU              PH156600000                     703
                                                        TAWI-TAWI         PH157000000                     106
...                                                                                                       ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                     398
                                                        AGUSAN DEL SUR    PH160300000                     337
                                                        DINAGAT ISLANDS   PH168500000                     151
                                                        SURIGAO DEL NORTE PH166700000                     332
                                                        SURIGAO DEL SUR   PH166800000                     332

                                                                                         Disability_Male  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                779
                                                        LANAO DEL SUR     PH153600000               1705
                                                        MAGUINDANAO       PH153800000               1557
                                                        SULU              PH156600000               1664
                                                        TAWI-TAWI         PH157000000                777
...                                                                                                  ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000               2354
                                                        AGUSAN DEL SUR    PH160300000               3559
                                                        DINAGAT ISLANDS   PH168500000                646
                                                        SURIGAO DEL NORTE PH166700000               2309
                                                        SURIGAO DEL SUR   PH166800000               3134

                                                                                         Disability_Female  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                  688
                                                        LANAO DEL SUR     PH153600000                 1270
                                                        MAGUINDANAO       PH153800000                 1004
                                                        SULU              PH156600000                 1464
                                                        TAWI-TAWI         PH157000000                  653
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 1775
                                                        AGUSAN DEL SUR    PH160300000                 2604
                                                        DINAGAT ISLANDS   PH168500000                  578
                                                        SURIGAO DEL NORTE PH166700000                 1981
                                                        SURIGAO DEL SUR   PH166800000                 2356

                                                                                         Solo Parent_Male  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                1707
                                                        LANAO DEL SUR     PH153600000                8300
                                                        MAGUINDANAO       PH153800000                4838
                                                        SULU              PH156600000                5107
                                                        TAWI-TAWI         PH157000000                1050
...                                                                                                   ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                2206
                                                        AGUSAN DEL SUR    PH160300000                2182
                                                        DINAGAT ISLANDS   PH168500000                 344
                                                        SURIGAO DEL NORTE PH166700000                1273
                                                        SURIGAO DEL SUR   PH166800000                2315

                                                                                         Solo Parent_Female  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                  4395
                                                        LANAO DEL SUR     PH153600000                 20914
                                                        MAGUINDANAO       PH153800000                 11047
                                                        SULU              PH156600000                 12997
                                                        TAWI-TAWI         PH157000000                  2394
...                                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                  5390
                                                        AGUSAN DEL SUR    PH160300000                  4432
                                                        DINAGAT ISLANDS   PH168500000                  1082
                                                        SURIGAO DEL NORTE PH166700000                  3291
                                                        SURIGAO DEL SUR   PH166800000                  4993

                                                                                         Older_Male  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000          2003
                                                        LANAO DEL SUR     PH153600000          6060
                                                        MAGUINDANAO       PH153800000          7963
                                                        SULU              PH156600000          5687
                                                        TAWI-TAWI         PH157000000          1994
...                                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000          4402
                                                        AGUSAN DEL SUR    PH160300000          6136
                                                        DINAGAT ISLANDS   PH168500000          1952
                                                        SURIGAO DEL NORTE PH166700000          4364
                                                        SURIGAO DEL SUR   PH166800000          6027

                                                                                         Older_Female
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000            1944
                                                        LANAO DEL SUR     PH153600000            6186
                                                        MAGUINDANAO       PH153800000            6804
                                                        SULU              PH156600000            6334
                                                        TAWI-TAWI         PH157000000            1875
...                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000            5038
                                                        AGUSAN DEL SUR    PH160300000            6463
                                                        DINAGAT ISLANDS   PH168500000            2145
                                                        SURIGAO DEL NORTE PH166700000            5758
                                                        SURIGAO DEL SUR   PH166800000            6805

[87 rows x 10 columns]

For the `DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality`, `Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group`, and `Health Facility Type by Municipality` datasets, some renaming of columns is needed before data can be aggregated.

Additionally, the region values of `DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality` and `Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group` datasets are not sorted, so these will be sorted alphabetically for consistency.

#### 9. Pantawid Pamilya Beneficiary Households and Household Members by Sex and Age Group

In [ ]:
# changing data to uppercase
df_pantawid_pamilya['Region'] = df_pantawid_pamilya['Region'].str.upper()
df_pantawid_pamilya['Province'] = df_pantawid_pamilya['Province'].str.upper()

# rename 'PCODE_REG', 'PCODE_PROV' columns
df_pantawid_pamilya.rename(columns = {'PCODE_REG':'Region Code', 'PCODE_PROV':'Province Code'}, inplace = True)

# sort region alphabetically
df_pantawid_pamilya = df_pantawid_pamilya.sort_values(['Region', 'Province'], ignore_index=True)

# aggregate values
df_pantawid_pamilya = df_pantawid_pamilya.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))


df_pantawid_pamilya

<ipython-input-27-84976badbce9>:12: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_pantawid_pamilya = df_pantawid_pamilya.groupby(['Region', 'Region Code', 'Province', 'Province Code']).agg(lambda x: sum(x))

                                                                                         Total # of Active HHs  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                    26878
                                                        LANAO DEL SUR     PH153600000                    85110
                                                        MAGUINDANAO       PH153800000                   145538
                                                        SULU              PH156600000                    70761
                                                        TAWI-TAWI         PH157000000                    34795
...                                                                                                        ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                    38947
                                                        AGUSAN DEL SUR    PH160300000                    54986
                                                        DINAGAT ISLANDS   PH168500000                     8993
                                                        SURIGAO DEL NORTE PH166700000                    32541
                                                        SURIGAO DEL SUR   PH166800000                    44440

                                                                                         HH MEM_M_5 to 9  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000               5058
                                                        LANAO DEL SUR     PH153600000              13425
                                                        MAGUINDANAO       PH153800000              23656
                                                        SULU              PH156600000              10626
                                                        TAWI-TAWI         PH157000000               9421
...                                                                                                  ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000               7643
                                                        AGUSAN DEL SUR    PH160300000               9813
                                                        DINAGAT ISLANDS   PH168500000               1040
                                                        SURIGAO DEL NORTE PH166700000               4094
                                                        SURIGAO DEL SUR   PH166800000               6754

                                                                                         HH MEM_M_10 to 14  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                15505
                                                        LANAO DEL SUR     PH153600000                58574
                                                        MAGUINDANAO       PH153800000                79096
                                                        SULU              PH156600000                40924
                                                        TAWI-TAWI         PH157000000                17289
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                21140
                                                        AGUSAN DEL SUR    PH160300000                28430
                                                        DINAGAT ISLANDS   PH168500000                 4572
                                                        SURIGAO DEL NORTE PH166700000                16463
                                                        SURIGAO DEL SUR   PH166800000                21845

                                                                                         HH MEM_M_15 to 19  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                14648
                                                        LANAO DEL SUR     PH153600000                57209
                                                        MAGUINDANAO       PH153800000                75613
                                                        SULU              PH156600000                40661
                                                        TAWI-TAWI         PH157000000                15335
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                18430
                                                        AGUSAN DEL SUR    PH160300000                24787
                                                        DINAGAT ISLANDS   PH168500000                 4465
                                                        SURIGAO DEL NORTE PH166700000                16481
                                                        SURIGAO DEL SUR   PH166800000                21026

                                                                                         HH MEM_M_20 to 24  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 8804
                                                        LANAO DEL SUR     PH153600000                32002
                                                        MAGUINDANAO       PH153800000                37974
                                                        SULU              PH156600000                21813
                                                        TAWI-TAWI         PH157000000                 8541
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                12790
                                                        AGUSAN DEL SUR    PH160300000                16688
                                                        DINAGAT ISLANDS   PH168500000                 3032
                                                        SURIGAO DEL NORTE PH166700000                11394
                                                        SURIGAO DEL SUR   PH166800000                14895

                                                                                         HH MEM_M_25 to 29  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 5868
                                                        LANAO DEL SUR     PH153600000                19109
                                                        MAGUINDANAO       PH153800000                26606
                                                        SULU              PH156600000                14747
                                                        TAWI-TAWI         PH157000000                 7073
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                10139
                                                        AGUSAN DEL SUR    PH160300000                13889
                                                        DINAGAT ISLANDS   PH168500000                 2240
                                                        SURIGAO DEL NORTE PH166700000                 9008
                                                        SURIGAO DEL SUR   PH166800000                12463

                                                                                         HH MEM_M_30 to 34  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 4247
                                                        LANAO DEL SUR     PH153600000                13362
                                                        MAGUINDANAO       PH153800000                24078
                                                        SULU              PH156600000                11250
                                                        TAWI-TAWI         PH157000000                 5859
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 7632
                                                        AGUSAN DEL SUR    PH160300000                10883
                                                        DINAGAT ISLANDS   PH168500000                 1565
                                                        SURIGAO DEL NORTE PH166700000                 6476
                                                        SURIGAO DEL SUR   PH166800000                 8966

                                                                                         HH MEM_M_35 to 39  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 5364
                                                        LANAO DEL SUR     PH153600000                16903
                                                        MAGUINDANAO       PH153800000                31214
                                                        SULU              PH156600000                15462
                                                        TAWI-TAWI         PH157000000                 6300
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 7369
                                                        AGUSAN DEL SUR    PH160300000                10328
                                                        DINAGAT ISLANDS   PH168500000                 1645
                                                        SURIGAO DEL NORTE PH166700000                 6375
                                                        SURIGAO DEL SUR   PH166800000                 8273

                                                                                         HH MEM_M_40 to 44  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 4242
                                                        LANAO DEL SUR     PH153600000                14068
                                                        MAGUINDANAO       PH153800000                24539
                                                        SULU              PH156600000                12519
                                                        TAWI-TAWI         PH157000000                 5097
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 6632
                                                        AGUSAN DEL SUR    PH160300000                 9598
                                                        DINAGAT ISLANDS   PH168500000                 1655
                                                        SURIGAO DEL NORTE PH166700000                 6280
                                                        SURIGAO DEL SUR   PH166800000                 8023

                                                                                         HH MEM_M_45 to 49  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 4558
                                                        LANAO DEL SUR     PH153600000                14735
                                                        MAGUINDANAO       PH153800000                24666
                                                        SULU              PH156600000                13829
                                                        TAWI-TAWI         PH157000000                 5172
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 6437
                                                        AGUSAN DEL SUR    PH160300000                 9074
                                                        DINAGAT ISLANDS   PH168500000                 1569
                                                        SURIGAO DEL NORTE PH166700000                 5770
                                                        SURIGAO DEL SUR   PH166800000                 7746

                                                                                         ...  \
Region                                      Region Code Province          Province Code  ...
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000    ...
                                                        LANAO DEL SUR     PH153600000    ...
                                                        MAGUINDANAO       PH153800000    ...
                                                        SULU              PH156600000    ...
                                                        TAWI-TAWI         PH157000000    ...
...                                                                                      ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000    ...
                                                        AGUSAN DEL SUR    PH160300000    ...
                                                        DINAGAT ISLANDS   PH168500000    ...
                                                        SURIGAO DEL NORTE PH166700000    ...
                                                        SURIGAO DEL SUR   PH166800000    ...

                                                                                         HH MEM_F_40 to 44  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 4677
                                                        LANAO DEL SUR     PH153600000                15466
                                                        MAGUINDANAO       PH153800000                24247
                                                        SULU              PH156600000                13227
                                                        TAWI-TAWI         PH157000000                 5331
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 6650
                                                        AGUSAN DEL SUR    PH160300000                 9233
                                                        DINAGAT ISLANDS   PH168500000                 1579
                                                        SURIGAO DEL NORTE PH166700000                 6171
                                                        SURIGAO DEL SUR   PH166800000                 7776

                                                                                         HH MEM_F_45 to 49  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 4341
                                                        LANAO DEL SUR     PH153600000                15072
                                                        MAGUINDANAO       PH153800000                22189
                                                        SULU              PH156600000                12838
                                                        TAWI-TAWI         PH157000000                 4822
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 6275
                                                        AGUSAN DEL SUR    PH160300000                 8293
                                                        DINAGAT ISLANDS   PH168500000                 1640
                                                        SURIGAO DEL NORTE PH166700000                 5607
                                                        SURIGAO DEL SUR   PH166800000                 7160

                                                                                         HH MEM_F_50 to 54  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 2330
                                                        LANAO DEL SUR     PH153600000                 8620
                                                        MAGUINDANAO       PH153800000                11725
                                                        SULU              PH156600000                 6094
                                                        TAWI-TAWI         PH157000000                 2928
...                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                 4799
                                                        AGUSAN DEL SUR    PH160300000                 6208
                                                        DINAGAT ISLANDS   PH168500000                 1229
                                                        SURIGAO DEL NORTE PH166700000                 4491
                                                        SURIGAO DEL SUR   PH166800000                 5860

                                                                                         HH MEM_F_55 to 59  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                 1478
                                                        LANAO DEL SUR     PH153600000                 5595
                                                        MAGUINDANAO       PH153800000                 7943
                                                        SULU              PH156600000                 4284
                                                        TAWI-TAWI         PH157000000                 2118
...                                                                                                    ...

#### 10. DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality

The `DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality` dataset particularly has a modified code for regions so this will first be replaced with data copied from the `Region` column, then replaced with the corresponding PSGC code obtained from a lookup created from another dataset (`Vulnerable Groups`).

In [ ]:
# rename 'Region code' and 'Province code' columns
df_no_of_schools_and_enrollment.rename(columns = {'Region code':'Region Code'}, inplace = True)

# changing data to uppercase
df_no_of_schools_and_enrollment['Region'] = df_no_of_schools_and_enrollment['Region'].str.upper()
df_no_of_schools_and_enrollment['Province'] = df_no_of_schools_and_enrollment['Province'].str.upper()

# copying region values to region code column
df_no_of_schools_and_enrollment['Region Code'] = df_no_of_schools_and_enrollment['Region']

# creating a lookup for replacement
lookup_region_region_code = dict(zip(df_vulnerable_groups['Region'], df_vulnerable_groups['Region Code']))

# mapped replacement of region code data
df_no_of_schools_and_enrollment['Region Code'] = df_no_of_schools_and_enrollment['Region Code'].map(lookup_region_region_code)

# sort region alphabetically
df_no_of_schools_and_enrollment = df_no_of_schools_and_enrollment.sort_values(['Region', 'Province'], ignore_index=True)

df_no_of_schools_and_enrollment

,Region,Region Code,Province,Province code,City_Municipality,City_Mun Code,Elementary_school,Secondary_school,Enrollment_Elementary_Male,Enrollment_Elementary_Female,Enrollment_Secondary_Male,Enrollment_Secondary_Female
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,6,1,820,781,119,111
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Al-Barka,PH150709000,11,0,1078,1072,0,0
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,City of Lamitan (Capital),PH150702000,42,7,7922,7588,1798,2154
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Hadji Mohammad Ajul,PH150710000,10,2,1080,1060,195,188
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Hadji Muhtamad,PH150712000,3,2,529,495,250,333
...,...,...,...,...,...,...,...,...,...,...,...,...
1643,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,San Agustin,PH166815000,13,3,1712,1539,637,636
1644,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,San Miguel,PH166816000,42,8,4118,3863,1404,1404
1645,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tagbina,PH166817000,39,16,3607,3321,1665,1592
1646,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,30,5,3393,3070,1447,1484
1647,NaN,NaN,NaN,NaN,NaN,NaN,38913,8554,7446253,6843192,3181294,3230939

Now the `DepEd No. of Schools and Enrolment with Sex Disaggregation by Municipality` dataset can be aggregated.

In [ ]:
df_no_of_schools_and_enrollment_by_region_and_province = df_no_of_schools_and_enrollment.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))
df_no_of_schools_and_enrollment_by_region_and_province

<ipython-input-29-ca18f39bab08>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_no_of_schools_and_enrollment_by_region_and_province = df_no_of_schools_and_enrollment.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

                                                                           Elementary_school  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                          201
                                                        LANAO DEL SUR                    742
                                                        MAGUINDANAO                      552
                                                        SULU                             416
                                                        TAWI-TAWI                        238
...                                                                                      ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                 300
                                                        AGUSAN DEL SUR                   454
                                                        DINAGAT ISLANDS                  108
                                                        SURIGAO DEL NORTE                347
                                                        SURIGAO DEL SUR                  457

                                                                           Secondary_school  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                          26
                                                        LANAO DEL SUR                   137
                                                        MAGUINDANAO                      81
                                                        SULU                             40
                                                        TAWI-TAWI                        24
...                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                 88
                                                        AGUSAN DEL SUR                  100
                                                        DINAGAT ISLANDS                  31
                                                        SURIGAO DEL NORTE                81
                                                        SURIGAO DEL SUR                 113

                                                                           Enrollment_Elementary_Male  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 28508
                                                        LANAO DEL SUR                           83584
                                                        MAGUINDANAO                             97732
                                                        SULU                                    48864
                                                        TAWI-TAWI                               28686
...                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                        59695
                                                        AGUSAN DEL SUR                          68476
                                                        DINAGAT ISLANDS                          9439
                                                        SURIGAO DEL NORTE                       40271
                                                        SURIGAO DEL SUR                         52832

                                                                           Enrollment_Elementary_Female  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                   27497
                                                        LANAO DEL SUR                             92840
                                                        MAGUINDANAO                               97349
                                                        SULU                                      48852
                                                        TAWI-TAWI                                 28472
...                                                                                                 ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                          54809
                                                        AGUSAN DEL SUR                            62344
                                                        DINAGAT ISLANDS                            8469
                                                        SURIGAO DEL NORTE                         36466
                                                        SURIGAO DEL SUR                           48410

                                                                           Enrollment_Secondary_Male  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 5571
                                                        LANAO DEL SUR                          21276
                                                        MAGUINDANAO                            18943
                                                        SULU                                    9784
                                                        TAWI-TAWI                               4575
...                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                       24917
                                                        AGUSAN DEL SUR                         26968
                                                        DINAGAT ISLANDS                         4778
                                                        SURIGAO DEL NORTE                      19506
                                                        SURIGAO DEL SUR                        21786

                                                                           Enrollment_Secondary_Female
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                   7040
                                                        LANAO DEL SUR                            27699
                                                        MAGUINDANAO                              22387
                                                        SULU                                     12520
                                                        TAWI-TAWI                                 5368
...                                                                                                ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                         25219
                                                        AGUSAN DEL SUR                           27698
                                                        DINAGAT ISLANDS                           4561
                                                        SURIGAO DEL NORTE                        19334
                                                        SURIGAO DEL SUR                          21474

[87 rows x 6 columns]

#### 11. Health Facility Type by Municipality

In [ ]:
# rename 'Region Name', 'Region PSGC', 'Province Name', 'Province PSGC' columns
df_health_facility_type.rename(columns = {'Region Name':'Region', 'Region PSGC':'Region Code',
                                                  'Province Name':'Province', 'Province PSGC':'Province Code'}, inplace = True)

# Region and Province data are already in uppercase, so proceed to aggregation
df_health_facility_type_by_region_and_province = df_health_facility_type.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))
df_health_facility_type_by_region_and_province

<ipython-input-30-97c5bb2a1bf9>:6: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  df_health_facility_type_by_region_and_province = df_health_facility_type.groupby(['Region', 'Region Code', 'Province']).agg(lambda x: sum(x))

                                                                           Ambulatory Surgical Clinic  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                     0
                                                        LANAO DEL SUR                               0
                                                        MAGUINDANAO                                 1
                                                        SULU                                        0
                                                        TAWI-TAWI                                   0
...                                                                                               ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                            0
                                                        AGUSAN DEL SUR                              0
                                                        DINAGAT ISLANDS                             0
                                                        SURIGAO DEL NORTE                           0
                                                        SURIGAO DEL SUR                             0

                                                                           Animal Bite Treatment Center  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                       0
                                                        LANAO DEL SUR                                 0
                                                        MAGUINDANAO                                   0
                                                        SULU                                          0
                                                        TAWI-TAWI                                     0
...                                                                                                 ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                              0
                                                        AGUSAN DEL SUR                                0
                                                        DINAGAT ISLANDS                               0
                                                        SURIGAO DEL NORTE                             0
                                                        SURIGAO DEL SUR                               0

                                                                           Barangay Health Station  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                 67
                                                        LANAO DEL SUR                          140
                                                        MAGUINDANAO                            224
                                                        SULU                                   125
                                                        TAWI-TAWI                               73
...                                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                       237
                                                        AGUSAN DEL SUR                         162
                                                        DINAGAT ISLANDS                         26
                                                        SURIGAO DEL NORTE                      161
                                                        SURIGAO DEL SUR                        261

                                                                           Birthing Home  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                       13
                                                        LANAO DEL SUR                 39
                                                        MAGUINDANAO                   70
                                                        SULU                          15
                                                        TAWI-TAWI                     10
...                                                                                  ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE              29
                                                        AGUSAN DEL SUR                 5
                                                        DINAGAT ISLANDS                0
                                                        SURIGAO DEL NORTE              1
                                                        SURIGAO DEL SUR               17

                                                                           City Health Office  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                             0
                                                        LANAO DEL SUR                       0
                                                        MAGUINDANAO                         0
                                                        SULU                                0
                                                        TAWI-TAWI                           0
...                                                                                       ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                    0
                                                        AGUSAN DEL SUR                      0
                                                        DINAGAT ISLANDS                     0
                                                        SURIGAO DEL NORTE                   0
                                                        SURIGAO DEL SUR                     0

                                                                           COVID-19 Testing Laboratory  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                      0
                                                        LANAO DEL SUR                                2
                                                        MAGUINDANAO                                  0
                                                        SULU                                         0
                                                        TAWI-TAWI                                    0
...                                                                                                ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                             3
                                                        AGUSAN DEL SUR                               1
                                                        DINAGAT ISLANDS                              0
                                                        SURIGAO DEL NORTE                            2
                                                        SURIGAO DEL SUR                              0

                                                                           DepEd Clinic  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                       0
                                                        LANAO DEL SUR                 0
                                                        MAGUINDANAO                   0
                                                        SULU                          0
                                                        TAWI-TAWI                     0
...                                                                                 ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE              0
                                                        AGUSAN DEL SUR                3
                                                        DINAGAT ISLANDS               0
                                                        SURIGAO DEL NORTE             0
                                                        SURIGAO DEL SUR               0

                                                                           Dialysis Clinic  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                          0
                                                        LANAO DEL SUR                    0
                                                        MAGUINDANAO                      0
                                                        SULU                             0
                                                        TAWI-TAWI                        0
...                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                 2
                                                        AGUSAN DEL SUR                   0
                                                        DINAGAT ISLANDS                  0
                                                        SURIGAO DEL NORTE                0
                                                        SURIGAO DEL SUR                  0

                                                                           Drug Abuse Treatment and Rehabilitation Centers  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                                          0
                                                        LANAO DEL SUR                                                    0
                                                        MAGUINDANAO                                                      0
                                                        SULU                                                             0
                                                        TAWI-TAWI                                                        0
...                                                                                                                    ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                                                 0
                                                        AGUSAN DEL SUR                                                   0
                                                        DINAGAT ISLANDS                                                  0
                                                        SURIGAO DEL NORTE                                                1
                                                        SURIGAO DEL SUR                                                  0

                                                                           Drug Testing Laboratory  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                  0
                                                        LANAO DEL SUR                            0
                                                        MAGUINDANAO                              0
                                                        SULU                                     0
                                                        TAWI-TAWI                                0
...                                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                         0
                                                        AGUSAN DEL SUR                           0
                                                        DINAGAT ISLANDS                          0
                                                        SURIGAO DEL NORTE                        0
                                                        SURIGAO DEL SUR                          0

                                                                           General Clinic Laboratory  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                    0
                                                        LANAO DEL SUR                              0
                                                        MAGUINDANAO                                0
                                                        SULU                                       0
                                                        TAWI-TAWI                                  0
...                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                          12
                                                        AGUSAN DEL SUR                             0
                                                        DINAGAT ISLANDS                            0
                                                        SURIGAO DEL NORTE                          0
                                                        SURIGAO DEL SUR                            0

                                                                           Hospital  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                   2
                                                        LANAO DEL SUR            10
                                                        MAGUINDANAO               6
                                                        SULU                      6
                                                        TAWI-TAWI                 6
...                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE          7
                                                        AGUSAN DEL SUR            5
                                                        DINAGAT ISLANDS           0
                                                        SURIGAO DEL NORTE         5
                                                        SURIGAO DEL SUR           6

                                                                           Infirmary  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                    1
                                                        LANAO DEL SUR              7
                                                        MAGUINDANAO                7
                                                        SULU                       4
                                                        TAWI-TAWI                  2
...                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE          11
                                                        AGUSAN DEL SUR             7
                                                        DINAGAT ISLANDS            3
                                                        SURIGAO DEL NORTE          5
                                                        SURIGAO DEL SUR            8

                                                                           Municipal Health Office  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                  0
                                                        LANAO DEL SUR                            0
                                                        MAGUINDANAO                              0
                                                        SULU                                     0
                                                        TAWI-TAWI                                0
...                                                                                            ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                         0
                                                        AGUSAN DEL SUR                           0
                                                        DINAGAT ISLANDS                          0
                                                        SURIGAO DEL NORTE                        0
                                                        SURIGAO DEL SUR                          0

                                                                           Provincial Health Office  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                   0
                                                        LANAO DEL SUR                             0
                                                        MAGUINDANAO                               0
                                                        SULU                                      0
                                                        TAWI-TAWI                                 0
...                                                                                             ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                          0
                                                        AGUSAN DEL SUR                            0
                                                        DINAGAT ISLANDS                           0
                                                        SURIGAO DEL NORTE                         0
                                                        SURIGAO DEL SUR                           0

                                                                           Psychiatric Care Facility  \
Region                                      Region Code Province
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN                                    0
                                                        LANAO DEL SUR                              0
                                                        MAGUINDANAO                                0
                                                        SULU                                       0
                                                        TAWI-TAWI                                  0
...                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE                           0
                                                        AGUSAN DEL SUR                             0
                                                        DINAGAT ISLANDS                            0
                                                        SURIGAO DEL NORTE                          0
                                                        SURIGAO DEL SUR                            0

                                                                           Rural Health Unit  \

### Data Cleaning for Philippine Population (as of 2020)

The dataset for Philippine population as of 2020 has data on population count by region that is formatted differently, therefore a new dataframe will be constructed to extract the needed data.

Upon examination, the first column combines data on singe-year age and region. This will be transformed into separate columns to format it similarly to the other datasets.

To begin, entire rows with `NaN` data and the last four rows containing footnote information are dropped, while the header row labels is renamed for better processing.

In [ ]:
df_ph_population_dropped = df_ph_population.dropna(how='all')

# dropping rows with footnotes
df_ph_population_dropped.drop(df_ph_population_dropped.tail(4).index, inplace = True)

# rename headers
df_ph_population_dropped.rename(columns = {'Unnamed: 0':'Single-Year Age and Region', 'Both Sexes': 'Both Sexes Total',
                                           'Male': 'Male Total', 'Female': 'Female Total',
                                           'Both Sexes.1': 'Both Sexes Household Total',
                                           'Male.1': 'Male Household Total', 'Female.1': 'Female Household Total'}, inplace = True)

df_ph_population_dropped

<ipython-input-31-71cbe577dc69>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ph_population_dropped.drop(df_ph_population_dropped.tail(4).index, inplace = True)
<ipython-input-31-71cbe577dc69>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ph_population_dropped.rename(columns = {'Unnamed: 0':'Single-Year Age and Region', 'Both Sexes': 'Both Sexes Total',

,Single-Year Age and Region,Both Sexes Total,Male Total,Female Total,Both Sexes Household Total,Male Household Total,Female Household Total
2,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN
3,Total,109033245.0,55306793.0,53726452.0,108667043.0,55017643.0,53649400.0
4,Under 1,2136032.0,1109532.0,1026500.0,2135411.0,1109050.0,1026361.0
5,1,2199834.0,1133593.0,1066241.0,2199452.0,1133412.0,1066040.0
6,2,2218716.0,1145369.0,1073347.0,2218136.0,1145070.0,1073066.0
...,...,...,...,...,...,...,...
1508,76,2385.0,1187.0,1198.0,2382.0,1186.0,1196.0
1509,77,2547.0,1246.0,1301.0,2543.0,1244.0,1299.0
1510,78,2267.0,1145.0,1122.0,2267.0,1145.0,1122.0
1511,79,2442.0,1169.0,1273.0,2440.0,1169.0,1271.0
1512,80 years and over,13618.0,6094.0,7524.0,13608.0,6092.0,7516.0

This dropped and relabeled dataset can now have its `Single-Year Age and Region` column separated, starting with adding a new column for region data.

In [ ]:
df_ph_population_new = df_ph_population_dropped.copy()
count = 0
df_ph_population_new['Both Sexes Total'].isnull()

for i in df_ph_population_new.index:
  if pd.isnull(df_ph_population_new.at[i, 'Both Sexes Total']): # check if null value exists at 'Both Sexes Total' column in row i
    region = df_ph_population_new.at[i, 'Single-Year Age and Region'] # if so, update region value

  else:
    df_ph_population_new.at[i, 'Region']  = region # if row has no null value, fill in new region column

df_ph_population_new

,Single-Year Age and Region,Both Sexes Total,Male Total,Female Total,Both Sexes Household Total,Male Household Total,Female Household Total,Region
2,PHILIPPINES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total,109033245.0,55306793.0,53726452.0,108667043.0,55017643.0,53649400.0,PHILIPPINES
4,Under 1,2136032.0,1109532.0,1026500.0,2135411.0,1109050.0,1026361.0,PHILIPPINES
5,1,2199834.0,1133593.0,1066241.0,2199452.0,1133412.0,1066040.0,PHILIPPINES
6,2,2218716.0,1145369.0,1073347.0,2218136.0,1145070.0,1073066.0,PHILIPPINES
...,...,...,...,...,...,...,...,...
1508,76,2385.0,1187.0,1198.0,2382.0,1186.0,1196.0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)
1509,77,2547.0,1246.0,1301.0,2543.0,1244.0,1299.0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)
1510,78,2267.0,1145.0,1122.0,2267.0,1145.0,1122.0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)
1511,79,2442.0,1169.0,1273.0,2440.0,1169.0,1271.0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)
1512,80 years and over,13618.0,6094.0,7524.0,13608.0,6092.0,7516.0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM)

The new `Region` column can now be placed as the first column, the `Single-Year Age and Region` column is renamed to `Single-Year Age`, while all rows with `NaN` values are dropped.

Meanwhile sorting the regions alphabetically was skipped in favor of preserving the order of data under the `Single-Year Age` column, which is intuitive by default, beginning with the total count, those aged under a year old, then one year old, two years old, and so on until the age of 80 years and older.

In [ ]:
# make 'Region' column the first column
col = df_ph_population_new.pop("Region")
df_ph_population_new.insert(0, col.name, col)

# rename 'Single-Year Age and Region' column
df_ph_population_new.rename(columns = {'Single-Year Age and Region':'Single-Year Age'}, inplace=True)

# drop all rows with null values
df_ph_population_new = df_ph_population_new.dropna()

# capitalize region data
df_ph_population_new['Region'] = df_ph_population_new['Region'].str.upper()

df_ph_population_new

<ipython-input-33-537638d402cf>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ph_population_new['Region'] = df_ph_population_new['Region'].str.upper()

,Region,Single-Year Age,Both Sexes Total,Male Total,Female Total,Both Sexes Household Total,Male Household Total,Female Household Total
3,PHILIPPINES,Total,109033245.0,55306793.0,53726452.0,108667043.0,55017643.0,53649400.0
4,PHILIPPINES,Under 1,2136032.0,1109532.0,1026500.0,2135411.0,1109050.0,1026361.0
5,PHILIPPINES,1,2199834.0,1133593.0,1066241.0,2199452.0,1133412.0,1066040.0
6,PHILIPPINES,2,2218716.0,1145369.0,1073347.0,2218136.0,1145070.0,1073066.0
7,PHILIPPINES,3,2236525.0,1154752.0,1081773.0,2235907.0,1154441.0,1081466.0
...,...,...,...,...,...,...,...,...
1508,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),76,2385.0,1187.0,1198.0,2382.0,1186.0,1196.0
1509,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),77,2547.0,1246.0,1301.0,2543.0,1244.0,1299.0
1510,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),78,2267.0,1145.0,1122.0,2267.0,1145.0,1122.0
1511,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),79,2442.0,1169.0,1273.0,2440.0,1169.0,1271.0
1512,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),80 years and over,13618.0,6094.0,7524.0,13608.0,6092.0,7516.0

### Data Cleaning for Remaining Datasets

The `Philippine Standard Geographic Code (PSGC)` dataset serves as the main lookup dataframe for regions, provinces, and their respective codes; while the `Construction Materials of Outer Walls and Roof by City and Municipality (by materials)` dataset has a different table structure from the other datasets categorized by city and municipality.

Due to their difference in data structures compared to other datasets, these will be kept separate and will simply have their region and province data capitalized and renamed for consistency.

#### Philippine Standard Geographic Code (PSGC)

In [ ]:
# changing data to uppercase
df_psgc['Region'] = df_psgc['Region'].str.upper()
df_psgc['Province'] = df_psgc['Province'].str.upper()

df_psgc

,Region,Region Code,Province,Province Code,City/Mun,City/Mun Code,Bgy,Bgy Code
0,REGION I (ILOCOS REGION),PH010000000,ILOCOS NORTE,PH012800000,Adams,PH012801000,Adams (Pob.),PH012801001
1,REGION I (ILOCOS REGION),PH010000000,ILOCOS NORTE,PH012800000,Bacarra,PH012802000,Bani,PH012802001
2,REGION I (ILOCOS REGION),PH010000000,ILOCOS NORTE,PH012800000,Bacarra,PH012802000,Buyon,PH012802002
3,REGION I (ILOCOS REGION),PH010000000,ILOCOS NORTE,PH012800000,Bacarra,PH012802000,Cabaruan,PH012802003
4,REGION I (ILOCOS REGION),PH010000000,ILOCOS NORTE,PH012800000,Bacarra,PH012802000,Cabulalaan,PH012802004
...,...,...,...,...,...,...,...,...
42039,REGION XIII (CARAGA),PH160000000,DINAGAT ISLANDS,PH168500000,Tubajon,PH168507000,Diaz (Romualdez),PH168507005
42040,REGION XIII (CARAGA),PH160000000,DINAGAT ISLANDS,PH168500000,Tubajon,PH168507000,Roxas,PH168507006
42041,REGION XIII (CARAGA),PH160000000,DINAGAT ISLANDS,PH168500000,Tubajon,PH168507000,San Roque (Pob.),PH168507007
42042,REGION XIII (CARAGA),PH160000000,DINAGAT ISLANDS,PH168500000,Tubajon,PH168507000,San Vicente (Pob.),PH168507008
42043,REGION XIII (CARAGA),PH160000000,DINAGAT ISLANDS,PH168500000,Tubajon,PH168507000,Santa Cruz (Pob.),PH168507009

#### Construction Materials of Outer Walls and Roof by City and Municipality (by materials)

In [ ]:
# changing data to uppercase
df_wall_roof_materials['Region'] = df_wall_roof_materials['Region'].str.upper()
df_wall_roof_materials['Province'] = df_wall_roof_materials['Province'].str.upper()

df_wall_roof_materials

,Region,Region Code,Province,Province Code,Municipality_City,Municipality_City Code,Construction Materials of the Outer Walls,Total Occupied Housing Units,Galvanized iron/aluminum,Tile/concrete/clay tile,Half galvanized iron and half concrete,Bamboo/cogon/nipa/anahaw,Asbestos,Makeshift/ salvaged/ improvised materials,Trapal,Others,Not Reported
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,Makeshift/salvaged/improvised materials,0,0,0,0,0,0,0,0,0,0
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,Trapal,0,0,0,0,0,0,0,0,0,0
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,Others,0,0,0,0,0,0,0,0,0,0
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,No walls,0,0,0,0,0,0,0,0,0,0
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH150000000,BASILAN,PH150700000,Akbar,PH150708000,Asbestos,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21224,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,Bamboo/sawali/cogon/nipa,271,55,0,0,216,0,0,0,0,0
21225,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,Half concrete/brick/stone and half wood,381,313,0,3,65,0,0,0,0,0
21226,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,Concrete/brick/stone,1039,979,6,2,51,0,1,0,0,0
21227,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,Wood,6105,1934,0,0,4169,0,0,2,0,0
21228,REGION XIII (CARAGA),PH160000000,SURIGAO DEL SUR,PH166800000,Tago,PH166818000,Total,7852,3304,6,5,4534,0,1,2,0,0

### Merging Datasets

Some the cleaned datasets will be merged, given that they have the same keys (Region, Region Code, Province, and Province Code) and the same number of rows. This is done to reduce the number of total datasets for easier visualization development.

The following datasets will be merged into one due to each not only having similar structure upon aggregating, but also displaying numeric data comprising of only one column respectively:
1. No. of Barangay by City and Municipality
1. No. of Evacuation Center by City and Municipality
1. No. of Household by City and Municipality

The other set of datasets to be merged also due to their similarity comprises of the two datasets derived from `Source of Water for Drinking`(by source and by category).

#### Merging `No. of Barangay by City and Municipality`, `No. of Evacuation Center by City and Municipality`, and `No. of Household by City and Municipality`

In [ ]:
# merge 'No of Brgy' and 'No of Evac Center' datasets
df_no_of_brgy_evac_by_region_and_province = pd.merge(df_no_of_brgy_by_region_and_province, df_no_of_evac_center_by_region_and_province,
                                                     on=['Region', 'Region Code', 'Province', 'Province Code'], how='left')

# merge with 'No of Household'
df_no_of_brgy_evac_household_by_region_and_province = pd.merge(df_no_of_brgy_evac_by_region_and_province, df_no_of_household_by_region_and_province,
                                                     on=['Region', 'Region Code', 'Province', 'Province Code'], how='left')

df_no_of_brgy_evac_household_by_region_and_province

                                                                                         Number of Barangay  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                   210
                                                        LANAO DEL SUR     PH153600000                  1159
                                                        MAGUINDANAO       PH153800000                   508
                                                        SULU              PH156600000                   410
                                                        TAWI-TAWI         PH157000000                   203
...                                                                                                     ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                   253
                                                        AGUSAN DEL SUR    PH160300000                   314
                                                        DINAGAT ISLANDS   PH168500000                   100
                                                        SURIGAO DEL NORTE PH166700000                   335
                                                        SURIGAO DEL SUR   PH166800000                   309

                                                                                         Number of Evacuation Center  \
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                            0.0
                                                        LANAO DEL SUR     PH153600000                            0.0
                                                        MAGUINDANAO       PH153800000                            0.0
                                                        SULU              PH156600000                            0.0
                                                        TAWI-TAWI         PH157000000                            0.0
...                                                                                                              ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000                          215.0
                                                        AGUSAN DEL SUR    PH160300000                          127.0
                                                        DINAGAT ISLANDS   PH168500000                          234.0
                                                        SURIGAO DEL NORTE PH166700000                          224.0
                                                        SURIGAO DEL SUR   PH166800000                          362.0

                                                                                         Number of Household
Region                                      Region Code Province          Province Code
AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM) PH150000000 BASILAN           PH150700000                59860.0
                                                        LANAO DEL SUR     PH153600000               160132.0
                                                        MAGUINDANAO       PH153800000               194507.0
                                                        SULU              PH156600000               138357.0
                                                        TAWI-TAWI         PH157000000                67529.0
...                                                                                                      ...
REGION XIII (CARAGA)                        PH160000000 AGUSAN DEL NORTE  PH160200000               153857.0
                                                        AGUSAN DEL SUR    PH160300000               153653.0
                                                        DINAGAT ISLANDS   PH168500000                28557.0
                                                        SURIGAO DEL NORTE PH166700000               108814.0
                                                        SURIGAO DEL SUR   PH166800000               129457.0

[87 rows x 3 columns]