In [168]:
import pandas as pd
pd.options.display.float_format = '{:,}'.format

### Evacuation Centers and Schools

In [169]:
evac_and_schools_df = pd.read_excel('data101_data/evac_and_schools_df_cleaned.xlsx', sheet_name='consolidated')
evac_and_schools_df

,region,province,evacuation_centers,total_schools
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,0,68843
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,0,226278
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),MAGUINDANAO,0,237044
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),SULU,0,120476
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),TAWI-TAWI,0,67363
...,...,...,...,...
82,REGION XIII (CARAGA),AGUSAN DEL NORTE,215,165028
83,REGION XIII (CARAGA),AGUSAN DEL SUR,127,186040
84,REGION XIII (CARAGA),DINAGAT ISLANDS,234,27386
85,REGION XIII (CARAGA),SURIGAO DEL NORTE,224,116005
86,REGION XIII (CARAGA),SURIGAO DEL SUR,362,145072

In [170]:
selected_province = "BASILAN"

In [171]:
def set_evac_center_values(selected_province):
    evac_center_value = evac_and_schools_df.query(f"province=='{selected_province}'")["evacuation_centers"]
    return "{:,}".format(evac_center_value.iloc[0])

In [172]:
set_evac_center_values('AGUSAN DEL NORTE')

'215'

In [173]:
def set_school_values(selected_province):
    school_value = evac_and_schools_df.query(f"province=='{selected_province}'")["total_schools"]
    return "{:,}".format(school_value.iloc[0])

In [174]:
set_school_values(selected_province)

'68,843'

### Vulnerable Groups

In [175]:
vuln_df = pd.read_excel('data101_data/vulnerable_groups_cleaned.xlsx', sheet_name='consolidated')
vuln_df.head(2)

,region,province,child_headed_male,child_headed_female,single_headed_male,single_headed_female,disability_male,disability_female,solo_parent_male,solo_parent_female,older_male,older_female
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,152,31,580,118,779,688,1707,4395,2003,1944
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,489,104,1395,623,1705,1270,8300,20914,6060,6186

##### Males

In [176]:
def set_disabled_m_values(selected_province):
    disabled_m = vuln_df.query(f"province=='{selected_province}'")["disability_male"]
    return "{:,}".format(disabled_m.iloc[0])

In [177]:
set_disabled_m_values(selected_province)

'779'

In [178]:
def set_old_m_values(selected_province):
    old_male =  vuln_df.query(f"province=='{selected_province}'")["older_male"]
    return "{:,}".format(old_male.iloc[0])

In [179]:
set_old_m_values(selected_province)

'2,003'

In [180]:
def set_childhead_m_values(selected_province):
    child_headed_m = vuln_df.query(f"province=='{selected_province}'")["child_headed_male"]
    return "{:,}".format(child_headed_m.iloc[0])

In [181]:
set_childhead_m_values(selected_province)

'152'

In [182]:
def set_solo_parent_m_values(selected_province):
    solo_par_m = vuln_df.query(f"province=='{selected_province}'")["solo_parent_male"]
    return "{:,}".format(solo_par_m.iloc[0])

In [183]:
set_solo_parent_m_values(selected_province)

'1,707'

##### Females

In [184]:
def set_disabled_f_values(selected_province):
    disabled_f = vuln_df.query(f"province=='{selected_province}'")["disability_female"]
    return "{:,}".format(disabled_f.iloc[0])

In [185]:
set_disabled_f_values(selected_province)

'688'

In [186]:
def set_old_f_values(selected_province):
    old_female =  vuln_df.query(f"province=='{selected_province}'")["older_female"]
    return "{:,}".format(old_female.iloc[0])

In [187]:
set_old_f_values(selected_province)

'1,944'

In [188]:
def set_childhead_f_values(selected_province):
    child_headed_f = vuln_df.query(f"province=='{selected_province}'")["child_headed_female"]
    return "{:,}".format(child_headed_f.iloc[0])

In [189]:
set_childhead_f_values(selected_province)

'31'

In [190]:
def set_solo_parent_f_values(selected_province):
    solo_par_f = vuln_df.query(f"province=='{selected_province}'")["solo_parent_female"]
    return "{:,}".format(solo_par_f.iloc[0])

In [191]:
set_solo_parent_f_values(selected_province)

'4,395'

### Health Facilities

In [192]:
health_faci_df = pd.read_excel('data101_data/health_facilities_cleaned.xlsx', sheet_name='consolidated')
health_faci_df.head()

,region,province,brgy_health_station,gen_clinic_laboratory,hospital,infirmary,rural_health_unit,birthing_homes
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,67,0,2,1,15,13
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,140,0,10,7,44,39
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),MAGUINDANAO,224,0,6,7,36,70
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),SULU,125,0,6,4,21,15
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),TAWI-TAWI,73,0,6,2,12,10

In [193]:
def set_brgy_health_station_values(selected_province):
    brgy_health_station = health_faci_df.query(f"province=='{selected_province}'")["brgy_health_station"]
    return "{:,}".format(brgy_health_station.iloc[0])

In [194]:
set_brgy_health_station_values(selected_province)

'67'

In [195]:
def set_gen_clinic_laboratory_values(selected_province):
    gen_clinic = health_faci_df.query(f"province=='{selected_province}'")["gen_clinic_laboratory"]
    return "{:,}".format(gen_clinic.iloc[0])

In [196]:
set_gen_clinic_laboratory_values(selected_province)

'0'

In [197]:
def set_hospital_values(selected_province):
    hosp =  health_faci_df.query(f"province=='{selected_province}'")["hospital"]
    return "{:,}".format(hosp.iloc[0])

In [198]:
set_hospital_values(selected_province)

'2'

In [199]:
def set_infirmary_values(selected_province):
    infirmary =  health_faci_df.query(f"province=='{selected_province}'")["infirmary"]
    return "{:,}".format(infirmary.iloc[0])

In [200]:
set_infirmary_values(selected_province)

'1'

In [201]:
def set_rural_health_unit_values(selected_province):
    rural_unit = health_faci_df.query(f"province=='{selected_province}'")["rural_health_unit"]
    return "{:,}".format(rural_unit.iloc[0])

In [202]:
set_rural_health_unit_values(selected_province)

'15'

In [203]:
def set_birthing_homes_values(selected_province):
    birth_home = health_faci_df.query(f"province=='{selected_province}'")["birthing_homes"]
    return "{:,}".format(birth_home.iloc[0])

In [204]:
set_birthing_homes_values(selected_province)

'13'