In [2]:
import pandas as pd

### Evacuation Centers and Schools

In [15]:
evac_and_schools_df = pd.read_excel('data101_data/evac_and_schools_df_cleaned.xlsx', sheet_name='consolidated')
evac_and_schools_df

,region,province,evacuation_centers,total_schools
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,0,68843
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,0,226278
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),MAGUINDANAO,0,237044
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),SULU,0,120476
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),TAWI-TAWI,0,67363
...,...,...,...,...
82,REGION XIII (CARAGA),AGUSAN DEL NORTE,215,165028
83,REGION XIII (CARAGA),AGUSAN DEL SUR,127,186040
84,REGION XIII (CARAGA),DINAGAT ISLANDS,234,27386
85,REGION XIII (CARAGA),SURIGAO DEL NORTE,224,116005
86,REGION XIII (CARAGA),SURIGAO DEL SUR,362,145072

In [17]:
def set_evac_center_values(selected_province):
    return evac_and_schools_df.query(f"province=='{selected_province}'")["evacuation_centers"]

In [18]:
set_evac_center_values('AGUSAN DEL NORTE')

82    215
Name: evacuation_centers, dtype: int64

### Vulnerable Groups

In [5]:
selected_province = "BASILAN"

In [36]:
vuln_df = pd.read_excel('data101_data/vulnerable_groups_cleaned.xlsx', sheet_name='consolidated')
vuln_df.head(2)

,region,province,child_headed_male,child_headed_female,single_headed_male,single_headed_female,disability_male,disability_female,solo_parent_male,solo_parent_female,older_male,older_female
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,152,31,580,118,779,688,1707,4395,2003,1944
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,489,104,1395,623,1705,1270,8300,20914,6060,6186

##### Males

In [19]:
def set_disabled_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["disability_male"]

In [20]:
set_disabled_m_values(selected_province)

0    779
Name: disability_male, dtype: int64

In [21]:
def set_old_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["older_male"]

In [16]:
set_old_m_values(selected_province)

0    2003
Name: older_male, dtype: int64

In [22]:
def set_childhead_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["child_headed_male"]

In [23]:
set_childhead_m_values(selected_province)

0    152
Name: child_headed_male, dtype: int64

In [24]:
def set_solo_parent_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["solo_parent_male"]

In [25]:
set_solo_parent_m_values(selected_province)

0    1707
Name: solo_parent_male, dtype: int64

##### Females

In [26]:
def set_disabled_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["disability_female"]

In [27]:
set_disabled_f_values(selected_province)

0    688
Name: disability_female, dtype: int64

In [28]:
def set_old_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["older_female"]

In [29]:
set_old_f_values(selected_province)

0    1944
Name: older_female, dtype: int64

In [30]:
def set_childhead_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["child_headed_female"]

In [31]:
set_childhead_f_values(selected_province)

0    31
Name: child_headed_female, dtype: int64

In [32]:
def set_solo_parent_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["solo_parent_female"]

In [33]:
set_solo_parent_f_values(selected_province)

0    4395
Name: solo_parent_female, dtype: int64