In [2]:
import pandas as pd

### Evacuation Centers and Schools

In [3]:
evac_and_schools_df = pd.read_excel('data101_data/evac_and_schools_df_cleaned.xlsx', sheet_name='consolidated')
evac_and_schools_df

,region,province,evacuation_centers,total_schools
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,0,68843
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,0,226278
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),MAGUINDANAO,0,237044
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),SULU,0,120476
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),TAWI-TAWI,0,67363
...,...,...,...,...
82,REGION XIII (CARAGA),AGUSAN DEL NORTE,215,165028
83,REGION XIII (CARAGA),AGUSAN DEL SUR,127,186040
84,REGION XIII (CARAGA),DINAGAT ISLANDS,234,27386
85,REGION XIII (CARAGA),SURIGAO DEL NORTE,224,116005
86,REGION XIII (CARAGA),SURIGAO DEL SUR,362,145072

In [4]:
def set_evac_center_values(selected_province):
    return evac_and_schools_df.query(f"province=='{selected_province}'")["evacuation_centers"]

In [5]:
set_evac_center_values('AGUSAN DEL NORTE')

82    215
Name: evacuation_centers, dtype: int64

### Vulnerable Groups

In [6]:
selected_province = "BASILAN"

In [7]:
vuln_df = pd.read_excel('data101_data/vulnerable_groups_cleaned.xlsx', sheet_name='consolidated')
vuln_df.head(2)

,region,province,child_headed_male,child_headed_female,single_headed_male,single_headed_female,disability_male,disability_female,solo_parent_male,solo_parent_female,older_male,older_female
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,152,31,580,118,779,688,1707,4395,2003,1944
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,489,104,1395,623,1705,1270,8300,20914,6060,6186

##### Males

In [8]:
def set_disabled_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["disability_male"]

In [9]:
set_disabled_m_values(selected_province)

0    779
Name: disability_male, dtype: int64

In [10]:
def set_old_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["older_male"]

In [11]:
set_old_m_values(selected_province)

0    2003
Name: older_male, dtype: int64

In [12]:
def set_childhead_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["child_headed_male"]

In [13]:
set_childhead_m_values(selected_province)

0    152
Name: child_headed_male, dtype: int64

In [14]:
def set_solo_parent_m_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["solo_parent_male"]

In [15]:
set_solo_parent_m_values(selected_province)

0    1707
Name: solo_parent_male, dtype: int64

##### Females

In [16]:
def set_disabled_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["disability_female"]

In [17]:
set_disabled_f_values(selected_province)

0    688
Name: disability_female, dtype: int64

In [18]:
def set_old_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["older_female"]

In [19]:
set_old_f_values(selected_province)

0    1944
Name: older_female, dtype: int64

In [20]:
def set_childhead_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["child_headed_female"]

In [21]:
set_childhead_f_values(selected_province)

0    31
Name: child_headed_female, dtype: int64

In [22]:
def set_solo_parent_f_values(selected_province):
    return vuln_df.query(f"province=='{selected_province}'")["solo_parent_female"]

In [23]:
set_solo_parent_f_values(selected_province)

0    4395
Name: solo_parent_female, dtype: int64

### Health Facilities

In [25]:
health_faci_df = pd.read_excel('data101_data/health_facilities_cleaned.xlsx', sheet_name='consolidated')
health_faci_df.head()

,region,province,brgy_health_station,gen_clinic_laboratory,hospital,infirmary,rural_health_unit,birthing_homes
0,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),BASILAN,67,0,2,1,15,13
1,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),LANAO DEL SUR,140,0,10,7,44,39
2,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),MAGUINDANAO,224,0,6,7,36,70
3,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),SULU,125,0,6,4,21,15
4,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),TAWI-TAWI,73,0,6,2,12,10

In [26]:
def set_brgy_health_station_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["brgy_health_station"]

In [27]:
set_brgy_health_station_values(selected_province)

0    67
Name: brgy_health_station, dtype: int64

In [28]:
def set_gen_clinic_laboratory_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["gen_clinic_laboratory"]

In [29]:
set_gen_clinic_laboratory_values(selected_province)

0    0
Name: gen_clinic_laboratory, dtype: int64

In [30]:
def set_hospital_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["hospital"]

In [31]:
set_hospital_values(selected_province)

0    2
Name: hospital, dtype: int64

In [32]:
def set_infirmary_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["infirmary"]

In [33]:
set_infirmary_values(selected_province)

0    1
Name: infirmary, dtype: int64

In [34]:
def set_rural_health_unit_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["rural_health_unit"]

In [35]:
set_rural_health_unit_values(selected_province)

0    15
Name: rural_health_unit, dtype: int64

In [36]:
def set_birthing_homes_values(selected_province):
    return health_faci_df.query(f"province=='{selected_province}'")["birthing_homes"]

In [37]:
set_birthing_homes_values(selected_province)

0    13
Name: birthing_homes, dtype: int64